[2019-12-23 22:51] kbreit opened #5 "Content filtering integration test should delete network"
The content filtering integration test should delete the network on failure or completion.

[2019-12-23 22:56] kbreit opened #6 "is_update_required() should handle different types to avoid traceback"
`is_update_required()` no longer does a type check which means there can be a segmentation fault if `.items()` is used on objects other than a dict. Exception handling should fix this problem.

[code]

[2019-12-24 13:52] kbreit opened #11 "meraki_firewalled_services - diff generation may not receive a dict"
There is a corner case where the diff generation won't work and will crash because a list is passed to the recursive_diff method.

[code]

[2019-12-24 13:56] kbreit opened #12 "meraki_mx_l3_firewall - “Delete all firewall rules” isn't changed"
The integration test step called "Delete all firewall rules" isn't showing a change. Whether this is a problem with it not resetting or just not marking the change, I don't know.

[2019-12-24 13:59] kbreit opened #13 "Remove unnecessary import statements"
Many of the modules are using import statements which aren't used. These should be removed.

[2019-12-24 14:04] kbreit opened #14 "meraki_static_route - Integration test calls undefined variable"
[code]

[2019-12-24 14:07] kbreit opened #15 "meraki_webhook - Needs integration tests"
It appears integration tests weren't imported from mainline Ansible.

[2019-12-24 14:12] kbreit commented on #14
Fixed by #16

[2019-12-24 14:12] #14 closed

[2019-12-24 14:34] kbreit opened #19 "meraki_config_template - Integration test crashing with NoneType"
[code]

[2019-12-24 21:17] #19 closed

[2019-12-25 04:55] kbreit opened #22 "meraki_firewalled_services - Won’t work with net_id"
Providing `net_id` to a task won’t work as it sets to None.

[2019-12-25 15:01] kbreit opened #24 "meraki_nat - one to many isn't submitted"
Integration test is showing one to many isn't being submitted with multiple rules.

[code]

[2019-12-25 15:07] kbreit commented on #24
Running the test again seemed to solve the problem. Need to look into it more but seems to work as intended.

[2019-12-25 15:07] #24 closed

[2019-12-25 19:28] #15 closed

[2019-12-25 19:36] #6 closed

[2019-12-25 19:40] #5 closed

[2019-12-25 19:45] #22 closed

[2019-12-25 20:30] kbreit commented on #11
Closing for now as the integration tests work. But I'll be keeping an eye out for this as it may be a problem in a specific corner case.

[2019-12-25 20:30] #11 closed

[2019-12-25 21:12] #13 closed

[2019-12-26 02:13] #12 closed

[2019-12-26 02:19] kbreit opened #29 "meraki_admin - Parameters need to be rewritten for sanity"
Two of the parameters in `meraki_admin` come back as invalid due to sanity checking and seeing they're JSON format. This should be rewritten for regular parameter patterns.

[code]

[2019-12-26 15:58] #29 closed

[2019-12-29 16:48] kbreit opened #36 "Create diff generation method"
Much of the diff creation code in the modules is duplicated. The Meraki class should have a `generate_diff` method which does the work in a centralized and consistent manner

- [x] meraki_admin.py
- [x] meraki_config_template.py
- [x] meraki_content_filtering.py
- [ ] meraki_device.py
- [x] meraki_firewalled_services.py
- [x] meraki_malware.py
- [ ] meraki_mr_l3_firewall.py
- [ ] meraki_mx_l3_fire

[2019-12-29 16:50] kbreit opened #37 "Enable diff in all modules"
Not all modules support diff. But they should.

[2019-12-30 13:02] kbreit commented on #36
All modules supporting diff have been converted and will be pushed, with one exception. meraki_nat uses a more complex diff data structure which won't be appropriate for the method.

[2019-12-31 20:47] kbreit opened #48 "Template for inventory.networking"
A template for the inventory.networking file should be distributed with the collection. Otherwise, no one knows what would go in it.

[2019-12-31 22:42] kbreit commented on #48
Merged

[2019-12-31 22:42] #48 closed

[2020-01-01 05:51] kbreit opened #52 "Enable support for check mode in all modules"
- [x] meraki_admin.py
- [x] meraki_config_template.py
- [x] meraki_content_filtering.py
- [x] meraki_device.py
- [x] meraki_firewalled_services.py
- [x] meraki_malware.py
- [x] meraki_mr_l3_firewall.py
- [x] meraki_mx_l3_firewall.py
- [x] meraki_mx_l7_firewall.py
- [x] meraki_nat.py
- [x] meraki_network.py
- [x] meraki_organization.py
- [x] meraki_snmp.py
- [x] meraki_ssid.py
- [x] meraki_static_r

[2020-01-01 05:57] #36 closed

[2020-01-04 20:53] kbreit commented on #52
meraki_device will not receive check mode at this time as it needs to be rewritten as the logic is a mess. This will come later.

[2020-01-04 20:53] #52 closed

[2020-02-05 19:06] kbreit opened #59 "New module - meraki_mx_site_to_site_vpn"
Meraki had support for configuring and querying site-to-site VPN information. A new module should be created to support this.

https://developer.cisco.com/meraki/api/#/rest/api-endpoints/networks/get-network-site-to-site-vpn

This issue is merged from ansible/ansible from issue request https://github.com/ansible/ansible/issues/55997.

[2020-02-06 13:26] pokepoke81 opened #60 "Questions on support"
Disclaimer: I'm relatively new to Ansible

I see the galaxy.yml, so does this replace the modules built into Ansible and therefore I need to install the galaxy modules?

There a place to ask questions on using the modules? I'm seeing some strange behavior, but don't know that it's an issue or just bad configuration on my part.

[2020-02-06 13:46] kbreit commented on #60
@pokepoke81 This will eventually replace the modules built into Ansible. As of 2.10 the modules will be removed from Ansible and you’ll have to use these. I’m focusing my development on this repository and not the mainstream Ansible ones.

When you see odd behavior, please submit an issue here, just like this one. Please include the output and a sanitized, simplified, playbook which causes the pro

[2020-02-06 14:30] pokepoke81 commented on #60
Thanks Kevin. I'll switch over to the galaxy version and start posting issues I find.

[2020-02-06 14:57] pokepoke81 opened #61 "Ansible not updating MX L3 Firewall, but states success"
A simple playbook to update firewall rules on an MX device fails to to change, but Ansible reports success and no change. No change occurs on the Meraki Dashboard either. This playbook was used to generate the "Ansible Block traffic to server2" rule, so it did work at one point.

Playbook:
[code]

Output:
[code]

[2020-02-07 19:32] kbreit commented on #60
I'm closing this issue. But as I said, please open new issues for features or bugs.

[2020-02-07 19:32] #60 closed

[2020-02-08 02:17] kbreit commented on #61
@pokepoke81 - I created a pull request (#62) to fix this problem. Please test. If you need assistance on how to test, let me know and I can help you through.

[2020-02-08 02:21] kbreit commented on #59
@pokepoke81 - This module will be almost identical to `meraki_mx_l3_firewall`. With that in mind, I'm waiting to create `meraki_mx_site_to_site_vpn` until #62 is merged so I can take that bugfix and have it work in this module.

[2020-02-08 04:01] pokepoke81 commented on #61
I’m new to this so I could use help in learning how to test. Thanks.

[2020-02-08 19:46] kbreit commented on #61
@pokepoke81 Easiest way is to download the file at https://raw.githubusercontent.com/kbreit/ansible-meraki/bugfix/61_mx_firewall/plugins/modules/meraki_mx_l3_firewall.py and copy that into your ansible collections directory. Most likely it's at `~/.ansible/collections/...`

[2020-02-11 14:57] pokepoke81 commented on #61
@kbreit took a minute, but I was able to test and it's working now.

Again, I'm new at this, so please forgive the beginner questions. How does this bug fix make it into the Galaxy repo so it will show up on my configuration? How long does that take?

[2020-02-13 20:42] pokepoke81 opened #63 "Enable DHCP and DHCP options with Meraki_vlan"
Looking through the options for meraki_vlan, I do not see a way to enable DHCP on a vlan and configure it's options. Also, does meraki_vlan work against layer 3 meraki switches, or only the MX?

[2020-02-14 03:02] kbreit commented on #61
@pokepoke81 Thanks for testing. The first thing that needs to happen is GitHub needs to email me so I know you responded. It didn't so I'm glad I checked back.

How long should it take? Overall, it shouldn't take very long. It's up to me to merge the bugfix (minutes) and post a new version in Galaxy (minutes). I should be able to dedicate some time to it tomorrow. You should be able to follow the

[2020-02-14 03:08] kbreit commented on #63
I would need to test `meraki_vlan` working against a layer 3 switch but I suspect it would only work with an MX appliance. Are you trying to setup an SVI on a layer 3 switch?

`meraki_vlan` has the ability to configure DHCP settings. I can see how it's not very obvious. It supports reserved IP ranges, fixed IP assignments, etc.

[2020-02-14 19:26] pokepoke81 commented on #63
This all has my attention because I'm working on putting my existing infrastructure into code. I have 10 interfaces on my MS350 switch stack I'm trying to replicate. Some have DHCP settings, others do not. The MS350 also can do OSPF on the interfaces, which I have configured.

On the MX, I see the reserved and fixed IP's in `meraki_vlan` but I don't see how you'd turn the DHCP server on or off fro

[2020-02-14 19:27] pokepoke81 commented on #61
@kbreit thank you. I appreciate all your help with this.

[2020-02-15 02:53] #61 closed

[2020-02-15 04:04] kbreit commented on #63
I looked into this and indeed, the `meraki_vlan` module lacks a full suite of DHCP options. I need to decide whether to create a new module called `meraki_dhcp` or if I should fold it into `meraki_vlan`. I’m leaning toward the latter. OSPF isn’t configurable via the API yet (https://dashboard.meraki.com/api_docs) as far as I can tell. If I’m missing it, please direct me to the endpoint and I’ll lo

[2020-02-16 03:35] kbreit commented on #59
@pokepoke81 I don't know if you'll be notified on the new PR, but please check out #68. Test and let me know if it works.

[2020-02-17 04:36] kbreit commented on #59
Also, there isn’t an endpoint to configure site to site VPNs as far as I can tell. The best I can do is firewall rules for them.

[2020-02-19 14:50] pokepoke81 commented on #63
It makes sense to me that the DHCP options would be with the `meraki_vlan` since it's a one-to-one relationship. I tested creating new VLANs on a test device and it enabled the DHCP server by default.

I don't see OSPF settings in the API either. I don't see any way to set an SVI on a switch from the API. That's going to give me trouble.

[2020-02-19 15:51] pokepoke81 commented on #59
I'm trying to piece some things together. It seems that Site to Site VPN settings are defined in the Network: [](https://developer.cisco.com/meraki/api/#/python/api-endpoints/networks/update-network-site-to-site-vpn)
You're right that there is a different endpoint for the VPN firewall.

So, do you have a separate module to add VLANs to the Site-to-Site VPN like the API? Or do you allow adding/edit

[2020-02-19 15:56] pokepoke81 commented on #59
Also, I don't have a way to test your PR. I only have one organization and it's production. I'm testing the MS and MX stuff against spare hardware in the organization. I don't think that will work for me since VPN settings are across the organization, not the network.

[2020-02-19 20:14] pokepoke81 opened #70 "MX Static Routes not idempotent"
Static routes on the MX error if already exist. Script below executes correctly if static routes don't exist.

Play:
[code]

Error:
[code]

[2020-02-19 20:29] pokepoke81 opened #71 "MX Static Routes not idempotent"
Static routes on the MX error if already exist. Script below executes correctly if static routes don't exist.

Play:
[code]

Error:
[code]

[2020-02-20 02:16] kbreit commented on #71
Closing as this is duplicate of #70

[2020-02-20 02:16] #71 closed

[2020-02-20 02:57] kbreit commented on #59
You may be able to create a new organization without licensing to test the module.

[2020-02-20 03:44] kbreit commented on #63
Thanks for the feedback. I'll add more DHCP options to `meraki_vlan` in the coming week or two.

[2020-02-23 19:37] #70 closed

[2020-02-25 15:33] pokepoke81 commented on #59
@kbreit I'm on a deadline this week, so haven't had a chance to get to this. Hopefully I can find a way to test it next week.

[2020-02-26 01:40] kbreit commented on #59
No problem. Let me know when you're able to test it.

[2020-02-28 01:56] kbreit opened #73 "Error in meraki_mx_l3_firewall"
Submitted by Richard.

I want to create some l3 firewall rules with the meraki_mx_l3_firewall module.

 Code:
[code]
with postman i can create the l3 firewall rule but not with the module.
I always get a HTTP 403 error. I added an screenshot of the output.
API-Key, org_id and net_name are correct.

[2020-02-29 20:30] #73 closed

[2020-03-05 19:40] pokepoke81 commented on #70
@kbreit is this one merged in Galaxy? I'm getting the same error still.

[2020-03-07 02:13] kbreit commented on #70
@pokepoke81 It should be fixed. Please be sure you upgrade the collection version using `ansible-galaxy collection install -f cisco.meraki` because the upgrade doesn't happen automatically. `ansible-galaxy` lacks an upgrade feature so that's why you have the `install -f`.

Please open a new issue about renaming the static route and be sure to post a sample playbook. I'll look at it a little bit to

[2020-03-07 02:26] kbreit commented on #70
@pokepoke81 I just tested and my latest code does seem to handle renaming. You may not have the latest release of the collection.

[2020-03-11 14:24] pokepoke81 opened #80 "Case of 'Any' in causes changes"
Not sure if this is fixable, but having the improper case for 'Any' in CIDR and Port references on the firewall will always report a change. CIDR and Port need to be 'Any', but Meraki will accept 'any' and capitalize it for you. This causes the module to report 'changed' on every execution though, because it's changing the case.

Protocol must be 'any' and Meraki will error if you provide 'Any'. C

[2020-03-11 14:30] kbreit commented on #80
@pokepoke81 I'm not surprised this came up but I can fix it. I have thought about normalizing capitalization on any to get around this.

[2020-03-15 02:47] kbreit opened #81 "meraki_ssid - New authentication types added"
Meraki has added 'WPA3 Transition Mode' and 'WPA3 only' to the encryption mode. This should be added as an option.

[2020-03-15 20:09] kbreit commented on #80
@pokepoke81 I have a fix in the `meraki_mx_l3_firewall`module. Are you able to test using this module? What module are you having problems with?

[2020-03-20 11:04] #63 closed

[2020-03-20 11:07] #80 closed

[2020-03-20 11:14] #59 closed

[2020-03-20 11:21] kbreit opened #87 "Ansible Galaxy linting errors"
[code]

[2020-03-28 00:11] kbreit commented on #87
Fixed

[2020-03-28 00:11] #87 closed

[2020-04-24 15:27] pokepoke81 opened #92 "Does the module support Check Mode?"
Looking to see if check mode is supported to see changes before apply:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html

[2020-04-24 15:35] kbreit commented on #92
@pokepoke81 Which modules are you looking to use check mode on? I have it implemented on only some of them.

[2020-04-24 15:43] pokepoke81 commented on #92
Right now, I'm using meraki_mx_l3_firewall, meraki_static_route, meraki_vlan, meraki_switch_access_list, and meraki_mx_site_to_site_firewall.

[2020-04-25 16:37] kbreit commented on #92
I need to update the settings to email me when there are comments since I didn't see your response. Note, the modules may say in code they support check mode but that may not be true; I need to fix that.

Now...just because I am saying a module supports check mode below doesn't mean it's bug free. I need to mock the response from Meraki so I can't promise the responses you receive in check mode wi

[2020-04-29 19:26] pokepoke81 commented on #92
Ok, I added check mode to each of those calls with no ill effects. I tested adding a rule with `meraki_mx_site_to_site_firewall` and the check mode reported changed without changing anything (good news). I'll test the rest of them as I deploy so more code, but all looks good so far.

[2020-05-02 19:23] kbreit commented on #92
Thank you. I'm going to close this but if you see any problems, please create new issues.

[2020-05-02 19:23] #92 closed

[2020-05-07 20:21] richardjohnallsopp opened #95 "meraki_network is failing when state: present is set"
I'm just now seeing an error with the meraki_network module having made no changes to my environment:

Playbook:
[code]
Output after playbook is run:
[code]
This has been working fine for a long time so i'm wondering is something has changed at the API end? I've tested this on a few systems.

[2020-05-08 02:37] kbreit commented on #95
Thanks for reporting this.

Are you still seeing the problem? I created a test case and it worked and my integration tests are working. Are you able to provide me an example site code, timezone, etc. that you'd use? Make up the information but I want to get this as close to yours as I can.

No matter what, this shouldn't have crashed on a 400 error. What version of Ansible are you using? Also, are

[2020-05-09 12:59] richardjohnallsopp commented on #95
Hey thanks for looking at this for me, here are the vars I'm using:
site_code: RDU
time_zone: America/New York

I'm using the built in Ansible modules on the latest version, should I move to the collections?

[2020-05-09 15:44] kbreit commented on #95
I would recommend moving to the collection. All (almost?) future development will be in the collection and not mainline Ansible. In fact the collection already has new modules and bug fixes that mainline doesn’t.

Please try the collection but I see two issues at hand. First is the handling of the 400 code and the second is the reason 400 has been generated. Give me a little time to work through i

[2020-05-09 21:44] richardjohnallsopp commented on #95
No worries man thanks for working on this, i'll try the collections :-)

[2020-05-09 21:53] richardjohnallsopp commented on #95
I'm seeing the same error with the collections, but I'm not sure if I'm referencing them correctly:
[code]
Output

[code]
I've installed them and they're located in the correct place.
[code]

[2020-05-09 22:06] kbreit commented on #95
Easy way to test if you’re using the collection. Try to run a task using `meraki_switch_stack`. A simple query is good enough. I don’t have that in mainline Ansible so if it works you’re using the collection.

[code]

[2020-05-09 23:01] richardjohnallsopp commented on #95
Yeah you're right:

[code]
Do you have an example on referencing the collections?
[code]

[2020-05-10 03:03] kbreit commented on #95
You misspelled cisco in the collections as cieco. Correct that and run again, let me know. Thanks.

[2020-05-10 03:05] kbreit commented on #95
Good and bad news. Good news, I reproduced your bug. Bad news, I reproduced it. Give me a little time to look into it.

[2020-05-10 03:17] kbreit commented on #95
I think I found the problem. Is your line for timezone `timezone: America/New York` verbatim? Timezones aren't allowed to have spaces and instead have underscores so `timezone: America/New_York` should be valid. Please test this fix and let me know if it resolves this issue. If it does, I have a patch ready to go which will check for spaces and fail with a more descriptive error.

Either way, you

[2020-05-10 03:39] kbreit commented on #95
Another update. I've tested this against the collection and I'm handling the exception properly. Please see the output below:

[code]

[2020-05-10 08:58] richardjohnallsopp commented on #95
Hey man, I'm sorry I should have caught that, first off the collections are working when you spell Cisco correctly:-) Also setting the timezone format correctly resolves my initial issue. So have the collections always been able to handle the http 400 errors or have you just added this? I don't seem to be able to reproduce the same fatal error using the collections.

Thanks again man I really appr

[2020-05-10 14:41] kbreit commented on #95
Happens to everyone.

I fixed the HTTP error handling in the collection, maybe at version 1.0 so it wasn’t always in collections and never was in the mainline Ansible code. Additionally this supports rate limiting.

[2020-05-10 23:50] kbreit commented on #95
Closing this issue as it appears to be resolved. Please open issues as new features are needed or bugs are discovered

[2020-05-10 23:50] #95 closed

[2020-05-29 11:18] gundalow opened #96 "Missing doc_fragments/meraki.py"
Hi,
Looks like `doc_fragments/meraki.py` is missing from this repo.
You can copy the file from the `pre-ansible-base` branch.

https://github.com/ansible/ansible/tree/pre-ansible-base/lib/ansible/plugins/doc_fragments

[2020-06-17 17:20] sstone173 opened #97 "meraki_admin - KeyError: 'network'"
When trying to create an admin with network(s) assigned during creation, I'm receiving the following error:

Traceback (most recent call last):
  File "/home/steve/.ansible/tmp/ansible-tmp-1592414226.5026495-265972714452428/AnsiballZ_meraki_admin.py", line 102, in <module>
    _ansiballz_main()
  File "/home/steve/.ansible/tmp/ansible-tmp-1592414226.5026495-265972714452428/AnsiballZ_meraki_admin.p

[2020-06-18 11:38] petertavenier opened #98 "setting hostname via ansible not working (meraki_device)"
When device is already in the network and I'm running this code to add a device to the network it's WORKING fine;
[code]

but when adding hostname it FAILS!
[code]

but when I add tags instead of hostname it WORKS again, but tags are not added; (changed = false)
[code]

updating device with code with hostname in it; FAILS
[code]

but with code, it works (no fail, but ansible doesn't change anythin

[2020-06-18 11:45] petertavenier commented on #98
might be useful to add the error;
[code]

[2020-06-18 12:39] kbreit commented on #98
@petertavenier Thank you for the bug report. Give me a little time to look into this and I'll let you know what I find.

[2020-06-18 12:52] kbreit commented on #98
@petertavenier I ran the integration test and it worked, but that doesn't mean everything is good. I'd like to start with a few basics. What version of Ansible are you using and are you using the Meraki collection?

[2020-06-18 15:01] petertavenier commented on #98
@kbreit The integration test is [this file](https://github.com/CiscoDevNet/ansible-meraki/blob/master/tests/integration/targets/meraki_device/tasks/main.yml) is suppose? I already looked into this playbook, but only the `state: query` is used in combination with hostname. `hostname: "bla-bla-device"` is *not* used together with `state: present`.

[2020-06-18 15:55] kbreit commented on #98
I have an alias for `hostname` of `name` and there is a task which uses `name`. https://github.com/CiscoDevNet/ansible-meraki/blob/d3a15a9ceebfd5a30b8f2bad13e4a89124f3e02d/tests/integration/targets/meraki_device/tasks/main.yml#L163

Does this task generally match what you're looking for?

[2020-06-18 16:05] kbreit commented on #97
I didn't see this one come in last night. Give me a little time to test and report back. Thank you for the report!

[2020-06-19 00:57] kbreit commented on #96
@gundalow Github doesn't always notify me of issues being created so I'm just seeing this. Please see https://github.com/CiscoDevNet/ansible-meraki/pull/99 and let me know if this fixes it.

[2020-06-19 01:49] kbreit commented on #97
@sstone173 I was able to verify this bug and fix it. Please try the code in https://github.com/CiscoDevNet/ansible-meraki/pull/100. Let me know if you're not familiar with how to pull these changes.

[2020-06-19 02:02] kbreit commented on #98
I've done a little more testing and definitely have seen some quirks with how it acts. It's not crashing like it is for you but it's also not applying the hostname if I'm just applying hostname. I will troubleshoot this but consider the bug confirmed.

[2020-06-19 03:02] kbreit commented on #98
@petertavenier I created a pull request to fix this bug tonight. https://github.com/CiscoDevNet/ansible-meraki/pull/101 is what you should try but see if you can do it against a test environment and not production. This is a pretty large rewrite of the module and I don't know if I'm missing corner cases. Overall this is a more straight forward code base but still may not be right or have bugs I ha

[2020-06-19 09:06] petertavenier commented on #98
I tested it see comment in #101

[2020-06-19 16:11] sstone173 commented on #97
@kbreit I'm pretty new to this, so I'm not familiar with how to pull these changes into my local environment (Ubuntu 20.04 in WSL2), any help would be greatly appreciated :)

[2020-06-20 02:07] #96 closed

[2020-06-20 02:13] kbreit commented on #97
@sstone173 I can't speak to WSL2 but my guess is in your home directory in Linux you'll find a .ansible directory. I have `~/.ansible/collections/ansible_collections/cisco/meraki`. If you have that, continue drilling down to `plugins/modules/` or something like that. In there should be a bunch of Python files which are the actual modules. Copy `meraki_admin.py` off into a backup and then download

[2020-06-20 02:34] #98 closed

[2020-06-20 12:08] sstone173 commented on #97
@kbreit Was able to get the file updated and confirm that it is working now, thanks for all the help!

[2020-06-20 13:39] kbreit commented on #97
Glad to hear it works. I’ll have a new release this weekend with the fix.

[2020-06-20 19:40] #97 closed

[2020-06-21 03:30] kbreit opened #106 "Update return documentation"
The Meraki Dashboard API has evolved and return keys have been added. However, not all these new keys have been added to the return documentation.

- [x] meraki_admin
- [ ] meraki_config_template
- [ ] meraki_content_filtering
- [ ] meraki_device
- [x] meraki_firewalled_services
- [x] meraki_intrusion_prevention
- [ ] meraki_malware
- [ ] meraki_management_interface
- [ ] meraki_mr_l3_firewall
- [

[2020-06-27 22:23] pokepoke81 opened #116 "Add module for static routes on Ms350 switches"
Please add a module for managing static routes on MS350 switches.

[2020-06-27 23:29] kbreit commented on #116
@pokepoke81 i hope you’re well. Do you know if this API endpoint exists? I haven’t seen it in the documentation.

[2020-06-28 02:27] kbreit commented on #116
Good and bad news. Good news is I do see there is an endpoint for configuring static routes on MS switches. The bad news is it’s in V1 of the API and not V0. V1 will be a breaking change and will likely be version 2.0 of my collection. I’m going to start on migrating to the V1 API before too long but it’s not something that I can easily code now. I am adding this to a new 2.0 milestone. My goal wi

[2020-06-28 02:38] kbreit opened #117 "Update requests() for v1 of API"
- [x] https://developer.cisco.com/meraki/api-v1/#!authorization/authorization-with-bearer-token-beta - Authorization methods are changing so the API should be able to use the new method since I assume this will be best practice.
- [x] Add parameter for choosing API version, if it makes sense
- [x] Rewrite `requests()` to clean it up
- [ ] Add pagingation support, likely to just request 100,000 ent

[2020-07-02 15:44] pokepoke81 commented on #116
Thanks @kbreit. I saw the Cisco Live talk on the v1 API and wondered what that looked like for migrating too.

[2020-07-02 15:46] kbreit commented on #116
@pokepoke81 I created a branch at https://github.com/CiscoDevNet/ansible-meraki/tree/release-branch/2.0 where you can try the Ansible support for the v1 API. I should note though, it's VERY much in development and I've only tested `meraki_organization` and `meraki_network`. If you run this, make sure you do it in a non-production organization and expect bugs. But...if you get bugs, please let me k

[2020-07-07 11:58] kbreit opened #131 "diff output may display password"
When showing diff output, Ansible will hide secrets using the `no_log` parameter. However, the information will still show in the `before` data structure. This should be hidden as well.

[2020-07-07 12:35] kbreit opened #132 "meraki_webhook - Creating webhook returns the wrong information"
The webhook module checks for HTTP code 200 instead of 201 so it doesn't apply the right data.

[2020-07-07 21:48] #132 closed

[2020-07-10 01:41] kbreit opened #142 "Rename meraki_mx_uplink"
v1 of the API greatly improves the uplink configuration options on the MX platform. `meraki_mx_uplink` is too vague and should be renamed.

[2020-07-17 14:42] sivel opened #148 "Collection Artifacts contain errant files"
It appears as though the collection generated from this repo contains a full python virtual environment, as well as many other files that shouldn't be included in the build.

Some other examples:

* `.vscode/settings.json`
* `tests/output/junit/meraki_site_to_site_vpn-tbo31dqq-1585418559.9924767.xml`
* `.DS_Store`

See the attached file for a full list.

[cisco.meraki.txt](https://github.com/Cisco

[2020-07-17 17:43] kbreit commented on #148
@sivel How do I tell the collection to not have the files which shouldn't be there?

[2020-07-17 20:07] kbreit commented on #148
@sivel Could you take a look at #149 and let me know if it, at least at a glance, covers everything it should. Here's what I'm seeing when I extract a new tarball.

[code]

[2020-07-17 20:21] sivel commented on #148
That looks good. Thanks for the help. As of now the ansible-2.10.0a3 package contained the full venv referenced before.

I honestly don't know what the expectation is about delivering the tests too, but I'm fine with it this way.

[2020-07-18 18:33] kbreit commented on #148
@sivel Do I need this as part of master to be picked up by your work?

[2020-07-20 13:56] sivel commented on #148
@kbreit I am not specifically doing anything. It was completely accidental that I ran across this.

Until this is used to build the collection artifact, the Ansible 2.10 release will contain your virtualenv. I am not part of the team that owns that process, but I did make them aware of this.

[2020-07-20 13:58] kbreit commented on #148
I will release a new 1.3.2 version today to remedy this. Thank you.

[2020-07-22 13:31] kbreit commented on #148
I released v1.3.2. yesterday and that should have the files removed. If there are files in the package which shouldn't be there, let me know.

[2020-07-22 13:31] #148 closed

[2020-07-26 18:35] pokepoke81 opened #158 "Rename modules to include product line"
Consider renaming the modules to include the targeted hardware in the title.

meraki_admin.py => meraki_org_admin.py
meraki_config_template.py => meraki_org_config_template.py
meraki_content_filtering.py => meraki_mx_content_filtering.py
meraki_device.py => meraki_network_device.py
meraki_firewalled_services.py => meraki_network_firewalled_services.py
meraki_intrusion_prevention.py => meraki_mx_in

[2020-07-27 20:04] kbreit commented on #158
This will be a checklist monitoring the status of each one. A check doesn't necessarily mean it will be renamed but it does indicate there is resolution.

- [ ] meraki_admin.py => meraki_org_admin.py
- [ ] meraki_config_template.py => meraki_org_config_template.py
- [ ] meraki_content_filtering.py => meraki_mx_content_filtering.py
- [ ] meraki_device.py => meraki_network_device.py
- [ ] meraki_fir

[2020-07-28 13:11] #142 closed

[2020-07-29 03:33] kbreit commented on #81
This has been integrated into both 1.0 and 2.0 and will be released.

[2020-07-29 03:33] #81 closed

[2020-08-01 02:17] kbreit commented on #116
@pokepoke81 I started working on this tonight and realized I need to do the routed interface module first. I'll be working on both of these.

[2020-08-01 02:22] kbreit opened #163 "Create meraki_ms_l3_interface"
Required for MS static routes

[2020-08-01 18:56] kbreit commented on #116
...and that one requires OSPF settings.

[2020-08-01 18:56] kbreit opened #164 "Create meraki_ms_ospf"

[2020-08-05 20:46] felixfontein opened #166 "Inclusion of cisco.meraki in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-12 01:54] #164 closed

[2020-08-12 15:25] #163 closed

[2020-08-12 17:16] kbreit commented on #117
Closing this as I intend to add pagination when it becomes needed.

[2020-08-12 17:16] #117 closed

[2020-08-29 20:05] kbreit commented on #158
I am closing this as resolved. Not all modules were renamed. But those specific to a product were. Thank you for the suggestion!

[2020-08-29 20:05] #158 closed

[2020-08-29 20:05] kbreit commented on #131
This has been resolved in 1.4.0 and 2.0.

[2020-08-29 20:05] #131 closed

[2020-09-24 18:25] richardjohnallsopp opened #193 "vlan assignment doesn't work when configured SSD's on an MX"
When I run the playbook to configure SSID's on the MX, everything works fine bar the vlan assignment, which seems to be assigned  to each SSID by whatever is the lowest SVI vlan ID number.
[code]
![image](https://user-images.githubusercontent.com/50882889/94184206-77b5a380-fe9b-11ea-8efd-b10e03b525f0.png)

Is there a way to set the vlan that isn't `vlan_id`?

[2020-09-24 18:28] kbreit commented on #193
@richardjohnallsopp Thank you for this bug report. The `meraki_ssid` module only supports MR networks and not MX appliances. The module name and documentation aren't obvious about this so in 2.0, I renamed `meraki_ssid` to `meraki_mr_ssid`. I'll need to create a new module for `meraki_mx_ssid`. If I do, are you able to upgrade to version 2.0 of these modules?

[2020-09-24 18:28] richardjohnallsopp opened #194 "configure mx interface ports via ansible"
Is there a way to configure the interface ports on an MX? They seem to default to trunk vlan 1 and it would be really nice if you could configure them to use the vlans you create?

![image](https://user-images.githubusercontent.com/50882889/94184670-2b1e9800-fe9c-11ea-9657-543fce019de0.png)

[2020-09-24 18:30] richardjohnallsopp commented on #193
Sure thing man, happy to help you. It's interesting that they do work for the most part. Just let me know when you're ready for me to upgrade.

[2020-09-24 18:37] kbreit commented on #194
@richardjohnallsopp For the Meraki modules, not today. I'd need to create a new module, which shouldn't be that big of a deal. I did find and endpoint (https://developer.cisco.com/meraki/api-v1/#!update-network-appliance-port). I can submit VLAN information using this data structure. It seems this would be what you're looking for?

[code]

[2020-09-24 18:41] richardjohnallsopp commented on #194
Yes that would be perfect!!!! Thanks so much man this is awesome!!

[2020-09-24 18:51] richardjohnallsopp commented on #194
I don't need this right now, but I think it would be a good idea to support trunk mode too.

[2020-09-24 18:52] richardjohnallsopp commented on #193
I've updated the collections to 2.0 :-)

[2020-09-24 20:32] kbreit commented on #194
It is. I pasted their example payload but it does support trunk mode. I'll spend some time on it, hopefully this weekend. Are you able/open to testing it once I get it written?

[2020-09-24 20:45] kbreit commented on #193
I talked to the Meraki developers and it sounds like their new API v1 (which is what Ansible Meraki 2.0 uses) no longer supports MX SSIDs. I'll keep an eye out for new endpoints for the MX SSIDs and will let you know when that's available.

I will keep this issue open to track that.

[2020-09-24 23:31] richardjohnallsopp opened #195 "loop in malware url whitelisting only takes last item"
This very well might be me being crap, but I'm pretty sure this code should add a list of urls:
[code]
var file
[code]
output
[code]

![image](https://user-images.githubusercontent.com/50882889/94210299-3be40380-fec6-11ea-91e6-36e20829c509.png)

[2020-09-25 00:33] kbreit commented on #195
Try to use the whole whitelisted data structure instead of looping. It always overwrites what was in it before.

The documentation doesn't make this clear so I am going to update it based on your experience. Thank you!

[2020-09-25 11:17] richardjohnallsopp commented on #195
Ah nice one, passing the the list to the module works great and is much faster than looping! Thanks

[2020-09-25 11:17] #195 closed

[2020-09-25 22:53] richardjohnallsopp commented on #193
Hey thanks for the update man, this is a shame as for the most part it actually works, hopefully they will add it back in later on. Seems strange to remove valid functionality from the API.

[2020-09-26 01:45] kbreit commented on #193
I feel like there were some challenges with MX and MR support at the same time with the same endpoint. Either way, their suggestion is to submit a Wishlist from the Meraki Dashboard as that helps them triage what new endpoints should be created.

[2020-09-29 11:46] kbreit commented on #194
This weekend got away from me so I wasn't able to create the module. It's on my short term roadmap though.

[2020-09-29 12:04] richardjohnallsopp opened #197 "Error when connecting spoke end of site to site vpn"
I'm seeing this error when trying to connect the spoke end of a site to site vpn config:
[code]
I'm assuming that the ID is something other than the one presented in the dropdown when manually configuring these settings?
![image](https://user-images.githubusercontent.com/50882889/94555737-f02db300-0253-11eb-9ccf-184f11296db6.png)

If that's the case I would have assumed that querying the hub setti

[2020-09-29 12:12] richardjohnallsopp commented on #197
Ok so I checked the API call and it showed me the Meraki ID of the hub, is there a way we can make the site to site query show this ID?

[2020-09-29 14:53] richardjohnallsopp commented on #194
@kbreit can I ask if you would like ansible-meraki feature requests and if yes where is the best place to do this?

[2020-09-29 15:03] kbreit commented on #194
@richardjohnallsopp Absolutely. Please create new issues for each feature.

[2020-09-29 18:43] richardjohnallsopp opened #198 "ansible-meraki module for Meraki Auth Users endpoint"
If possible could we have an ansible-meraki module for the [Meraki Auth Users endpoint](https://n229.meraki.com/Chris-Wood-Offic/n/bpSCKcLd/manage/support/api_docs/v1#create-a-user-configured-with-meraki-authentication-for-a-network-currently-supports-802)? My specific need for this is to automate the adding of client VPN users, but this could also be extended to wireless or any users we want unde

[2020-09-29 18:52] richardjohnallsopp opened #199 "ansible-meraki module for Alert Settings"
I would love an ansible-meraki module to configure the alert settings for a network using this [endpoint ](https://n229.meraki.com/Chris-Wood-Offic/n/bpSCKcLd/manage/support/api_docs/v1#update-the-alert-configuration-for-this-network).

[2020-09-29 18:55] richardjohnallsopp opened #200 "ansible-meraki module for licenses"
I would love to see an ansible-meraki module for Meraki [licenses](https://n229.meraki.com/Chris-Wood-Offic/n/bpSCKcLd/manage/support/api_docs/v1#licenses). Normally we need to call support to move licenses between orgs, but it looks like they have added this to the endpoint so it would be great to be able to manage licenses with ansible. This also helps automate the claiming of devices too as we

[2020-09-29 18:57] richardjohnallsopp commented on #200
Also I'm happy to help you test these and anything else you may need testing.

[2020-09-29 19:37] kbreit commented on #200
I already have some license functionality in one of the modules, I think `meraki_device`. But it should have its own module. One challenge will be testing both types of licenses.

[2020-09-30 12:00] richardjohnallsopp commented on #200
I could probably help with that as I have access to several large Meraki deployments which I manage using ansible-meraki.

[2020-09-30 15:23] kbreit commented on #200
I'll let you know when it's ready. I suspect this will be the hardest of the modules to write so I'm saving it for last.

I also need to figure out how to handle licenses for integration tests.

[2020-09-30 16:33] kbreit commented on #197
The output is all I can easily get. The ID of the hub should just be the network ID of that network so it is accessed via `meraki_network`. My integration test (https://github.com/CiscoDevNet/ansible-meraki/blob/master/tests/integration/targets/meraki_site_to_site_vpn/tasks/main.yml) works this way.

[2020-09-30 20:31] kbreit commented on #198
@richardjohnallsopp Where in the dashboard do you configure this feature?

[2020-09-30 22:26] richardjohnallsopp commented on #198
All three are configured in these locations:
[code]

[2020-09-30 22:32] richardjohnallsopp commented on #197
Yeah that's a nice solution man, thanks!! I'm more than happy with this so you can close this out.

[2020-09-30 22:47] #197 closed

[2020-10-01 15:16] petertavenier opened #201 "local_status_page_enabled is not idempotent"
It looks like the local_status_page_enabled and remote_status_page_enabled are not idempotent. so it changes always when you run the playbook API change logs:

Oct 01, 2020 15:11 | Peter Tavenier |   |   | via API | PUT /api/v1/networks/\<FILTERED\>/settings | {"localStatusPageEnabled":false,"remoteStatusPageEnabled":false} | {"localStatusPageEnabled":false,"remoteStatusPageEnabled":false}
-- | --

[2020-10-01 15:17] kbreit commented on #201
Thanks for reporting this. Give me a little time to investigate the issue and I'll report back.

[2020-10-01 19:06] kbreit commented on #201
@petertavenier Again, thank you for reporting this. I researched this over lunch and was able to confirm the bug and have ideas for a fix.

Gory details - When I query a network to compare the proposed (want) and existing (have) settings, it no longer returns the enabled state of the status pages. When I go to compare it basically says "This property isn't set, gotta update!", even thought it may

[2020-10-02 20:49] richardjohnallsopp commented on #116
Can I get access to this? Happy to test it out for you if needed?

[2020-10-03 00:39] kbreit commented on #116
@richardjohnallsopp Take a look at my fork. It's in the ms_350_static branch or something like that. Let me know if you need help getting it setup.

[2020-10-03 18:45] kbreit commented on #116
@richardjohnallsopp I should note, the module (https://github.com/kbreit/ansible-meraki/blob/2.0/ms_350_static/plugins/modules/meraki_ms_static_route.py) sometimes has some dependencies on other configurations within Meraki. I've been having problems with one of those dependencies which is why this module isn't released since I can't do the entire thing as code.

[2020-10-03 19:55] kbreit commented on #201
@petertavenier I have #203 set as a pull request. Can you test to see if it fixes your problems?

[2020-10-06 17:20] kbreit commented on #199
Follow up on this one. I've spent some time on this last night and lunch today. Unfortunately, getting idempotency is more challenging than I thought. I'm working through it but taking longer than I hoped.

[2020-10-08 20:46] kbreit commented on #199
@richardjohnallsopp I just submitted a pull request (#204) for this. Can you give it a try and let me know what you think? Thanks.

[2020-10-08 21:03] kbreit commented on #166
@felixfontein May I close this now that 2.10 is out?

[2020-10-08 21:19] felixfontein commented on #166
@kbreit yep, that's totally fine if you think everything is implemented.

[2020-10-08 22:02] #166 closed

[2020-10-09 10:55] richardjohnallsopp commented on #199
Yup I’ll give it go bud :-)

Richard Allsopp
Epic Games
Senior Infrastructure Engineer
Mobile +447590263111

[2020-10-09 11:03] richardjohnallsopp commented on #199
What is the process for getting these and running them? If you could point me to some docs I'd appreciate it.

[2020-10-09 13:16] kbreit commented on #199
@richardjohnallsopp There are a couple of ways to go about this. The most straight forward and simple way is to download https://raw.githubusercontent.com/kbreit/ansible-meraki/module/meraki_alert/plugins/modules/meraki_alert.py and save it locally. You should have a directory called `~/.ansible/collections/ansible_collections/cisco/meraki`. Copy that file into `~/.ansible/collections/ansible_coll

[2020-10-09 13:25] richardjohnallsopp commented on #199
Awesome, thanks man I'm off this weekend so will try all this out and report back.

[2020-10-10 01:12] kbreit commented on #194
@richardjohnallsopp Please test this module as well.

[2020-10-11 17:12] richardjohnallsopp commented on #194
I'm seeing the following error when running this module:
[code]

[2020-10-11 17:24] richardjohnallsopp commented on #199
I get the following from this module:
[code]

[2020-10-11 17:24] richardjohnallsopp commented on #199
Let me know if I'm doing something wrong?

[2020-10-12 14:00] kbreit commented on #199
I forgot about a change to the module utility I had to do. Please download https://raw.githubusercontent.com/CiscoDevNet/ansible-meraki/2c0bc3ba5d16de222d5c8d7a032a3b9fb4ef4ec9/plugins/module_utils/network/meraki/meraki.py and put it in the `plugins/module_utils/network/meraki` directory. That should fix it.

[2020-10-12 14:01] kbreit commented on #194
Can you show a sanitized version of your task that's causing this error? Thank you.

[2020-10-12 14:10] kbreit commented on #194
I made a couple of small changes to the integration tests, code, and documentation based on a parameter rename from `type` to `port_type`. Please try to re-download the file and let me know if that fixes it. If not, please post the error and a sanitized task I can use to test.

As a note, Meraki returns `type` as part of the data structure but Ansible doesn't like parameters called `type` so I ren

[2020-10-12 14:20] richardjohnallsopp commented on #199
Got it, will try and test today.

[2020-10-12 16:24] kbreit commented on #193
Setting as `wontfix` as I'm waiting on an endpoint for this from Meraki. I'll leave this open for a little bit to see if they get around to it. Even if I close it, I'm still happy to add the module when Meraki adds the endpoint.

[2020-10-14 14:10] kbreit commented on #199
@richardjohnallsopp Were you able to test this module?

[2020-10-14 14:11] kbreit commented on #194
@richardjohnallsopp Were you able to re-test this module?

[2020-10-14 15:36] richardjohnallsopp commented on #194
Hey man I’ll try and get to it this week, but if not I will have time over the weekend. Sorry work has been crazy busy the last few weeks. I won’t forget, I really want these modules.

[2020-10-14 16:04] kbreit commented on #194
No problem. Just making sure it's on your radar. If they work for you, I could probably turn around a release within a day or two.

[2020-10-16 17:19] richardjohnallsopp commented on #194
This one works great man, I think we're good to go :-)

[2020-10-16 17:27] richardjohnallsopp commented on #199
This one completes now, but do you have a list of names for the alert types? Also I have `all_admins` set to false and it keeps adding it back in. It does add the emails I've listed, but using the `gatewayDown` example doesn't set an alert.

[2020-10-16 17:27] richardjohnallsopp commented on #199
[code]

[2020-10-16 17:37] richardjohnallsopp commented on #199
I'm not sure how to translate these network alerts into alert type as I see no mention of gatewaydown
![image](https://user-images.githubusercontent.com/50882889/96290456-85fc6880-0fde-11eb-87fb-4e707a3d156b.png)

[2020-10-16 17:47] kbreit commented on #199
Hopefully I catch you while you're still working and able to test. Here is a list of alerts, which I'll add to the documentation and enforce. What type of network are you using? MX? If so, it's possible it changes the available alerts based on network type.

- gatewayDown
- gatewayToRepeater
- repeaterDown
- rogueAp
- settingsChanged
- vpnConnectivityChange
- usageAlert
- weeklyPresence

[2020-10-16 17:57] richardjohnallsopp commented on #199
Yeah it's an MX network, but it's not setting the alert type (maybe due to the type name) and it's adding all admins regardless of the bool setting.

[2020-10-16 17:59] richardjohnallsopp commented on #199
Yeah so that list you gave kinda makes sense on the MR network:
![image](https://user-images.githubusercontent.com/50882889/96292784-a4b02e80-0fe1-11eb-87ab-d62a9b9102e3.png)
Do you know where to get the MX ones I listed above? It's annoying that API docs don't have a list of all alerts :-(

[2020-10-16 18:02] kbreit commented on #199
I'm going to provide feedback to the API team to see if they can update documentation.

Regarding where to get it, I did a query (`state: query`) and it will list the full data structure for the entire network. There you'll manually pull the types.

[2020-10-16 18:07] richardjohnallsopp commented on #199
That worked to get the alert types and it works great, but it's still adding the all admins despite being set to false:
![image](https://user-images.githubusercontent.com/50882889/96293577-e392b400-0fe2-11eb-87dc-199c1a527cc3.png)

[2020-10-16 18:08] kbreit commented on #199
I'm looking into the all admins problem right now.

[2020-10-16 18:10] richardjohnallsopp commented on #199
I'll post the alerts here for anyone else that might need them:
[code]

[2020-10-16 18:11] kbreit commented on #199
Very helpful, thank you. I'm going to document these and probably enforce the values.

[2020-10-16 18:17] kbreit commented on #199
@richardjohnallsopp I think I fixed the bug. It's pushed to the branch so please download the file and use the latest version. I've renamed `type` to `alert_type` as well.

[2020-10-16 18:24] richardjohnallsopp commented on #199
It's working great:
data
[code]
task
[code]
output
![image](https://user-images.githubusercontent.com/50882889/96294900-fb6b3780-0fe4-11eb-8595-3d1298fe91fd.png)

[2020-10-16 18:40] richardjohnallsopp commented on #199
Yup you fixed it, it all works perfectly, thanks so much for the hard work on this man!!

[2020-10-16 18:59] #194 closed

[2020-10-16 19:02] kbreit commented on #194
@richardjohnallsopp I'm closing this issue as I've merged the module. I'm going to do a 2.1.0 (I think?) release today. If you're not watching this repository, click "Watch" at the top of the repo and you should be notified for releases.

[2020-10-16 19:04] #199 closed

[2020-10-16 19:17] kbreit commented on #199
@richardjohnallsopp 2.1.0 is released. Please redownload using `ansible-galaxy`.

[2020-10-16 19:41] richardjohnallsopp commented on #194
I've downloaded latest and tested it works great thanks again man!!!

[2020-10-20 20:51] kbreit commented on #200
@richardjohnallsopp Are your organizations using organization-wide licenses or the Per-Device License (PDL) model? These endpoints seem to focus on PDL and they don't seem to work on the organization-wide/legacy model.

[2020-10-22 14:33] richardjohnallsopp commented on #200
Ah well that sucks as yeah most if not all of mine use Org wide licenses :-(

[2020-10-22 15:02] kbreit commented on #200
To address your requirements.

- Moving licenses between organizations is a feature of the PDL structure.
- Claiming licenses seems to be reasonable. It existed in API v0 but I never tested it. Submit a feature with the Make a Wish button.

[2020-10-24 12:43] richardjohnallsopp commented on #200
I've submitted a feature request for this bud.

[2020-10-24 12:59] richardjohnallsopp commented on #200
Do you know if there is a way to automate the management IP of a MS appliance, or more specifically the vlan ID?

![image](https://user-images.githubusercontent.com/50882889/97082242-38948280-1600-11eb-8e7a-eb9495bf3b2b.png)

It's a little annoying, I can automate the full network stack, but the switch just gets an IP from a random DHCP server accessible on the trunked uplink port (so long as the

[2020-10-26 14:09] kbreit commented on #200
@richardjohnallsopp Look at the `meraki_management_interface` module. At first glance it supports only MX but I'm told it supports MX/MR/MS. How wan1/wan2 relate to MS or MR I don't know, but this should get you there. If there's new functionality you need (ex. VLAN) please create a new issue and I'll fix.

[2020-10-26 22:43] richardjohnallsopp commented on #200
@kbreit yeah I did look at that module but for the life of me I couldn't see how the WAN interfaces translate to the MS interfaces and the Meraki API documentation is lacking somewhat. I shall dig it and see if I can get it to work :-)

[2020-10-26 22:46] kbreit commented on #200
Let me know what you find. I can make other modules with more sane parameters if needed.

[2020-10-29 23:26] richardjohnallsopp commented on #200
It only works for MX devices
 `Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'.`

What's super annoying is that you can query the management interface on a switch, but you can't set it.
[code]
Output
[code]
Query output
[code]
I feel like it would be so easy for them to enable it for switches too.

[2020-10-30 13:39] kbreit commented on #200
Thanks for letting me know. I'm asking about it.

[2020-10-30 15:27] kbreit commented on #200
@richardjohnallsopp I was able to get this to work using Paw and issuing raw requests to the API. I'll look into the module as I may need to adapt it.

[2020-10-30 15:49] richardjohnallsopp commented on #200
Awesome, looking forward to testing :-)

[2020-10-30 15:55] kbreit commented on #200
Are you able to create a new issue for the management interface problems?

[2020-10-30 16:04] richardjohnallsopp commented on #200
Sure

[2020-10-30 16:09] richardjohnallsopp opened #207 "I would like the ability to manage the MS device management interfaces"
Currently the following only works for MX devices - https://n314.meraki.com/Wireless-Templat/n/6TZSfbs/manage/support/api_docs/v1#management-interface-settings

What's super annoying is that you can query the management interface on a switch, but you can't set it.
[code]
Output
[code]
Query output
[code]
I feel like it would be so easy for them to enable it for switches too.

[2020-10-31 22:23] kbreit commented on #207
Something about that output is curious. It refers to `man1` but I don't see that phrase in the playbook. Any ideas why?

[2020-10-31 22:31] richardjohnallsopp commented on #207
Sorry that was me trying to man instead of wan on the MS devices, it errors with noneType if you try wan.

[2020-11-01 21:53] kbreit commented on #207
I am looking into it and am not able to reproduce your bug. I have an MS setup in a test network and am able to configure `wan1`. Are you able to send me a `debug` from a `state: query` task before and after that change? If you need to send privately, let me know.

[2020-11-01 22:41] richardjohnallsopp commented on #207
Sure:

Tasks:
[code]
Output:

[code]

[2020-11-01 22:55] richardjohnallsopp commented on #207
If you need the full debug let me know how to send it privately as it had sensitive data in it.

[2020-11-01 22:59] kbreit commented on #207
Are you specifying `--diff` anywhere?

[2020-11-01 23:00] richardjohnallsopp commented on #207
nope, nowhere in that or any other task

[2020-11-01 23:01] richardjohnallsopp commented on #207
What does your task look like without the vaules?

[2020-11-02 02:24] kbreit commented on #207
Here are the integration tests I'm running. What it seems like is yours is crashing when it generates a diff because there is no `before`. Your request is returning HTTP code 200 (based on the execution flow at least). I don't have a check whether diff is enabled or not so that could be a workaround but not a fix.

[code]

[2020-11-02 02:39] kbreit commented on #207
Good news. I was able to reproduce the crash.

Bad news. I'm not entirely sure how to fix it and have a question into the Meraki team asking about a condition. The `wan_enabled` key isn't always returned. When it's not, it thinks it needs to do a change. However, I can't ignore that key altogether since it may break if you wanted to just enable it.

[2020-11-02 12:08] richardjohnallsopp commented on #207
Right understood, I added the check mode and the diff options and it does seem to succeed, but doesn't when check mode is disabled.
[code]

[2020-11-02 16:44] kbreit commented on #207
@richardjohnallsopp Please test the code in #208. Let me know if you have any questions. In short, `wan_enabled` shouldn't be provided for non-MX devices. In case you do, I added some logic which should ignore it.

[2020-11-02 17:29] richardjohnallsopp commented on #207
Can I just pull this file to my local version?
`plugins/modules/meraki_management_interface.py`

[2020-11-02 17:30] kbreit commented on #207
You should be able to? If it works, let me know and I can do a new release.

[2020-11-02 17:35] richardjohnallsopp commented on #207
Works using the same code I posed above, nice job man :-)

[2020-11-02 19:38] #207 closed

[2020-11-04 19:34] gosunilgo opened #211 "pushed test coverage data/reports nto pypi"
Someone pushed test coverage reports/data into pypi.  500 MB of wasted space.

[2020-11-05 10:17] gundalow commented on #211
@gosunilgo Thank you for reporting this, this has been fixed in the latest release of cisco.meraki, we've also made a release of `ansible==2.10.2` https://groups.google.com/g/ansible-devel/c/CcB43Ale5HY the only difference from `ansible==2.10.2` is the smaller download & install size.

[2020-11-05 12:47] gosunilgo commented on #211
:+1:

[2020-11-05 12:47] #211 closed

[2020-12-09 18:22] bijenkins opened #214 "Query all devices in a Org and get back only the first 1000, should be all"
Querying all devices from Ansible is not what's advertised. What's advertised will only return the first 1000, there's no way to get additional pages from the provided module.

https://docs.ansible.com/ansible/latest/collections/cisco/meraki/meraki_device_module.html

[code]
The is very misleading, wondering why I was missing devices and had to read the actual API documentation to find out it uses

[2020-12-09 18:31] kbreit commented on #214
Thanks for reporting this. I didn't catch the notice in the API documentation that it only returns 1,000 device as this change probably happened in v1.

I'm going to look into fixing this but it may take a little time due to schedule and having to extend the `request()` method.

[2020-12-10 03:50] kbreit commented on #214
I have a very early "working" version of the pagination code ready to go. Two questions.

Are you able to test the code once I'm happy with it?
Do you envision a situation where you'd want to specify how many items to pull down on each query?

[2020-12-11 18:43] kbreit commented on #214
@bijenkins I added support for pagination and fixed the 1,000 item limit in both `meraki_network` and `meraki_device`. PR #215 has these fixes. Are you able to test them? If you need instructions on how to integrate the changes to your system please let me know.

[2020-12-15 21:24] #214 closed

[2020-12-18 16:07] #201 closed

[2021-02-01 14:47] bartheerman opened #218 "Add 'Cisco ISE' to splash_page choices in meraki_ssid.py"
Cisco ISE cannot be used as splash page. Please add this choice.

[code]

[2021-02-01 14:53] kbreit commented on #218
@bartheerman Thank you for the report. Please try the branch shown in #219 and let me know if that works for you. If so I'll be able to do a new release today.

[2021-02-01 15:48] bartheerman commented on #218
@kbreit It works. Thank you!

[2021-02-01 15:54] #218 closed

[2021-02-08 14:13] larsrei opened #221 "meraki_site_to_site_vpn module not found"
Hello,

I install ansible-meraki but the module "meraki_site_to_site_vpn" is not found. Other modules like "meraki_network" I can use without problems.
I use version 2.2.0 and ansible version 2.10.5

Code:
`---
- name: Query network vpn-hub Id from our organization
  meraki_network:
    state: query
    auth_key: "{{ auth_key }}"
    org_name: "{{ org_name }}"
    net_name: "{{ vpn_hub }}"
  deleg

[2021-02-08 14:33] kbreit commented on #221
This module went through a rename so I need to look into why it's not working. However, please try `meraki_mx_site_to_site_vpn`. Notice it specifies `mx` in the name. Let me know if that works.

[2021-02-08 15:12] larsrei commented on #221
Hi,

I try it but same result:
`ansible-playbook 2.10.5
  config file = /home/fa9/Development/venv-auto-train/automation-trainroom/ansible-data/ansible.cfg
  configured module search path = ['/home/fa9/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /home/fa9/Development/venv-auto-train/lib/python3.8/site-packages/ansible
  executable location =

[2021-02-08 16:28] larsrei opened #222 "Error Content Filter MX if setting is present"
Hi,

I use the follow config für content filter on mx firewall.
[code]
On first run it works and the content filter will configured correct. All is set right. If I start playbook again I see follow error:

Log:
[code]

When I go and change something on the content filter on meraki site (for example delete a category), so that config is different to ansible config than it work one time again.
So se

[2021-02-09 14:25] kbreit commented on #221
For the module, refer to it explicitly as a collection. Use `cisco.meraki.meraki_mx_site_to_site_vpn` or whatever module you want to use. Give that a try, did it fix it?

[2021-02-10 13:59] larsrei commented on #221
Ok this is working. Than I can use the module and site-2-site vpn is configured correct.
Bug or Feature ? ;)

[2021-02-10 14:15] kbreit commented on #221
It's a bug in that my documentation should explain it better. For Ansible? Either way. It was finding the built in modules before it looked for the collection which is why it failed. By prefixing it with `Cisco.Meraki` it was explicit and went to the collection.

[2021-02-10 14:19] larsrei commented on #221
Ok I understand. Than I will go forward on my side and know what I can try on such a error. Many thanks for helping with this problem!!

[2021-02-10 14:19] #221 closed

[2021-02-15 09:06] larsrei commented on #222
Error for me is in this function, object before or after are not correct
`    def generate_diff(self, before, after):
        """Creates a diff based on two objects. Applies to the object and returns nothing.
        """
        try:
            diff = recursive_diff(before, after)
            **self.result['diff'] = {'before': diff[0],
                                   'after': diff[1]}**

[2021-02-15 09:25] kbreit commented on #222
Thank you for reporting this bug. I should have some time today to look into this and will let you know what I find.

[2021-02-15 18:37] kbreit commented on #222
@larsrei Please try the fix in PR #224 and let me know if it works.

[2021-02-16 09:07] larsrei commented on #222
I change this in my venv in the ansible-collection/cisco/meraki/plugins/modules/meraki_mx_content_filtering.py but become error.

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: 'NoneType' object is not subscriptable
fatal: [DE_TRAIN_8599]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/home

[2021-02-16 16:29] kbreit commented on #222
Can you confirm you have the latest file? My current one has 291 or 292 lines in it. My integration tests work and your traceback is pointing to your using check mode, which I don't think you mentioned.

[2021-02-17 01:57] kbreit commented on #222
If you're indeed using the latest version would you please also give a detailed explanation of your before and after state when this happens? For example, do you have a different policy in place, that is overwritten, then you issue it again and there's no change and there's a crash? My code is working in my integration tests and I feel there's a corner case your situation has which is causing this

[2021-02-17 09:08] larsrei commented on #222
OK, I try some tests but before one question. I change the code in file meraki_mx_content_filtering.py but what is with meraki_content_filtering.py? I change it here too but no effekt.
Tests:
- Create new content filtering work
- Change content filtering work (add category on ansible side to update passed and delete a category on meraki side work too)
- Same content on ansible side and meraki side

[2021-02-17 10:47] larsrei commented on #222
@kbreit question: I install it over ansible-collection and change the files in my venv path. Is this enough or can I do it a better way?

[2021-02-17 13:23] kbreit commented on #222
You should be able to just replace the collection file. In my situation that's located at `~/.ansible/collections` I think.

[2021-02-17 13:54] larsrei commented on #222
@kbreit ok the patch is working. I can do now anything as you describe.

I had 2 installation of ansible-meraki. One in my venv and one in my home (~/.ansible/collections). The venv was using the collection in my home and so the changes was not working.

For all this patch works fine.

[2021-02-17 13:55] kbreit commented on #222
Very cool. I will merge this PR and do a new release today or tomorrow. Thank you for your report and assistance verifying.

[2021-02-19 16:49] #222 closed

[2021-03-05 02:15] ExplainLikeIm5 opened #226 "Meraki Ansible Modules *WISH LIST"
Hello,

LOVE the Meraki Modules!
Recently have been tasked to create Ansible playbooks. So far the current modules have gotten me halfway there. I saw on your blog last year you were hoping to release a few modules I am looking for now. These would be for MX devices.

meraki_group_policy
meraki_traffic_shaping

Any updates would be SWEET!

thanks again for all you hard work.

[2021-04-06 21:02] jeffkala opened #227 "meraki_switchport access_policy_types choices don't match."
The Ansible Module has choices:
    access_policy_type:
        choices: [Open, Custom access policy, MAC whitelist, Sticky MAC whitelist].

 When a playbook uses this keyword, it will fail.

     "msg": "HTTP error 400 - https://api.meraki.com/api/v1/devices/Q2HP-HMV3-8PZW/switch/ports/6 - 'accessPolicyType' must be one of: 'Open', 'Custom access policy', 'MAC allow list' or 'Sticky MAC allow lis

[2021-04-06 21:05] jeffkala commented on #227
This can be assigned to me.  Will be updating this along with adding additional functionality to this module.

[2021-04-06 21:55] kbreit commented on #227
Thank you for the report. I set you as assigned.

[2021-04-07 13:36] kbreit commented on #226
I apologize for the delay as Github never notified me of this request. I'll take a look at these and if feasible, develop the modules. Would you be able to test them?

[2021-04-07 13:42] ExplainLikeIm5 commented on #226
Absolutely. Thank you!

[2021-04-12 15:00] #227 closed

[2021-04-18 01:21] kbreit commented on #226
@ExplainLikeIm5 I looked into these endpoints tonight. Both are doable but both may be complex modules. For traffic shaping, specifically which functions are you looking for? Some of the traffic shaping is very simple while the custom performance classes (https://developer.cisco.com/meraki/api-v1/#!get-network-appliance-traffic-shaping-custom-performance-classes) introduces additional endpoints. I

[2021-05-18 17:40] jeffkala opened #235 "switchport fails when using 100Megabit (auto) option."
{
  "msg": "HTTP error 400 - https://api.meraki.com/api/v1/devices/Q2CX-RJWZ-XCAX/switch/ports/7 - linkNegotiation must be in one of three formats... full negotiation:  \"Auto negotiate\",  duplex negotiation only: \"100 Megabit (auto)\", no negotiation: \"100 Megabit full duplex (forced)\"",
  "changed": false,
  "response": "OK (unknown bytes)",
  "status": 400,
  "invocation": {
    "module_arg

[2021-05-18 17:42] jeffkala commented on #235
@kbreit feel free to assign this one to me.  Hoping to look at it deeper this week.

[2021-05-18 21:14] #235 closed

[2021-05-25 19:45] jeffkala opened #238 "ms_switchport has no way to clear out voice vlan"
API shows that a `null` value should be passed to clear an entry for either vlan or voice vlan:
https://developer.cisco.com/meraki/api-v1/#!update-device-switch-port

Did test that a python `None` in the voiceVlan field clears the parameter via a normal requests script.
[code]

Looks like both vlan and voiceVlan need to have the ability to use `null` in the playbook parameters to accurately remove

[2021-05-25 19:46] jeffkala commented on #238
Was thinking that making `None` the default for these would be a quick fix, working on testing it.

[2021-05-25 20:01] jeffkala commented on #238
Was thinking vlan and voiceVlan should include a `state` key that allows the user to set `absent` to clear it.

[2021-05-25 21:54] jeffkala commented on #238
@kbreit you can assign this to me.  I got a fix ready.  Will try to put in a PR tomorrow.

[2021-06-08 01:31] #238 closed

[2021-06-08 01:45] kbreit opened #242 "Linting errors"
During import Ansible Galaxy is showing these errors.

[code]

[2021-06-22 20:12] #242 closed

[2021-07-15 15:41] sstone173 opened #250 "Receiving 'NoneType' error when using meraki_management_interface on some MR devices"
While updating DNS settings on a large group of MR devices some fail with the error "_AttributeError: 'NoneType' object has no attribute 'read'\n_". Haven't been able to discover any correlation when updating like devices and configurations, some devices just error out while others succeed.

Play
[code]

Loop Tasks (loop_meraki_update_mr_ip_settings.yaml)
[code]

Output
[code]

[2021-07-16 01:34] kbreit commented on #250
Thank you for the report. I'll try to take a look at it this weekend.

Do you have any custom settings that may cause this? Have you tried this same function using a Python script natively? I'm trying to determine if it's a bug with my code (probably) or if it's in the API (much less likely) that's triggering a bug.

[2021-07-16 13:17] sstone173 commented on #250
I don't think I have anything custom that would cause this, my environment is pretty simple, but who knows. I haven't tried the same function using Python natively, I was happy to just get this working. The issue didn't occur very often, maybe only 5% of the time and sometimes repeating the play 3-4 times would finally get it to work, so it seems random to me.

[2021-07-19 02:03] kbreit commented on #250
@sstone173 I tested this on my end and it seems to work fine. Admittedly, it's intermittent for you so I didn't expect it would reproduce easily here. A few thoughts:

* If I send you an updated file for improved debugging, are you able to run it and reproduce the bug with that?
* Do you find it's the same AP this happens on? Different APs? Same model? Anything like that we can use to hone in on t

[2021-07-20 20:53] sstone173 commented on #250
I can perform some additional testing if you send me the updated file, shouldn't be an issue. The issue didn't seem to be specific to model or any particular AP configuration, that's what made it a bit confusing to troubleshoot on my end as well.

[2021-07-21 01:46] kbreit commented on #250
I'll need a few days to develop and test the code. My current thought is if it catches an exception in that area, it will output the payload from the request so we can see what is being submitted. I'll also have it output the HTTP code to see if we're getting back a bad code. It's probably not a bad thing to have the capability for anyways.

[2021-07-21 22:23] kbreit commented on #250
I haven't tested this since I can't reproduce the bug. But please find the location where the Meraki collection is installed. Go into `plugins/module_utils/network/meraki` and you should see a `meraki.py` file. Replace that file with https://gist.github.com/kbreit/2f1d78e935f2dee7cac83b912d6a0275 . Reproduce the bug and it *should* give some more information if it fails with `NoneType`. If it does

[2021-07-26 16:09] sstone173 commented on #250
Updated the meraki.py file, but haven't been able to reproduce the issue so far, so I'm thinking it may have just been a temporary issue on my end, possibly network related.

[2021-07-29 02:21] kbreit commented on #250
You bring up a good point. Before the custom code, it would fail as an unhandled exception. Now, catching the exception so it should still continue to execute. I'll modify the code to catch the exception and fail with better output.

I'm on PTO the next couple of days so I should be able to make the changes by the weekend.

[2021-08-03 01:18] kbreit commented on #250
@sstone173 Sorry about the delay. I updated the gist so it should fail if `NoneType` happens. Give it a few more tries to see if you can reproduce the issue.

[2021-08-06 14:56] sstone173 commented on #250
@kbreit Updated the gist and ran the playbook against a bunch of our sites and was not able to replicate the issue. I'll be updating a large number of sites again in a month or so, so feel free to close this issue and I can reopen or create a new one if I run into it again during that project.

[2021-08-11 14:23] jshively37 opened #251 "L3 interfaces and stacks"
Would it be possible to pass stack id to the L3 interfaces module?

This would be great for those who use stacks instead of single switches for configuring L3 interfaces.

[2021-08-16 13:35] kbreit commented on #251
Great idea. Let me look into the capabilities within the API and see if it's possible. If it is, I'll add support.

[2021-08-23 12:00] kbreit commented on #250
Go ahead and keep this open for a while. No need to close it. I'll check back in later this year.

[2021-08-24 11:32] kbreit commented on #251
@jshively37 - There is a layer 3 interface endpoint for stacks. I'm going to create a new module to support this endpoint. While I'm at it, there are endpoints for static routes and DHCP on stacks which I may implement too.

[2021-08-24 11:33] kbreit commented on #37
Closing as diff hasn't been a key feature. If there is need for diff in a module, please let me know.

[2021-08-24 11:33] #37 closed

[2021-08-29 21:05] kbreit commented on #251
I have it mostly written. Documentation needs to be updated but I should have a new version released with this module.

[2021-09-02 01:44] kbreit commented on #251
@jshively37 Would you be able to test the new module? I need to add another couple integration tests but most of them are in place. If so, please use the code in #252 and let me know how it goes.

[2021-09-02 13:24] jshively37 commented on #251
Definitely will this weekend on the lab devices.

[2021-09-02 13:24] jshively37 commented on #251
also appreciate all the hard work!

[2021-09-06 01:53] kbreit commented on #251
Integration tests are upgraded. Let me know how your testing goes.

[2021-09-10 02:20] mtb-xt opened #254 "Api key not working from an environment variable"
Hello.

I'm trying to use meraki modules with my api key in the environment variable, but it doesn't work:

[code]

The playbook contents is simple copy from the examples:
[code]

[code]

[2021-09-10 02:24] kbreit commented on #254
Thank you for the big report. Has it worked in the past?

[2021-09-10 03:25] mtb-xt commented on #254
It's the first time I'm trying the modules...

[2021-09-10 21:20] kbreit commented on #254
Okay thank you for the report. I'm going to look into it over the next few days. There are some recent pull requests I merged so I'll wait until I resolve this and do a new release with this bugfix when I find.

[2021-09-10 22:02] kbreit commented on #254
When you executed the playbook you passed in `-vvvv`. Can you paste in the full sanitized output from that verbosity output? Also, one change that I don't think will fix it. Instead of setting a host of localhost, set the `connection` to `local`.

[2021-09-11 01:34] mtb-xt commented on #254
Thank you for your help! My results:
Tried with
[code]
instead of `hosts: 127.0.01` - no changes, still fails.

Full sanitized output here:
https://gist.github.com/mtb-xt/9c9997ec6e2fc453c228c40ce01ed519

Just to make sure it works, I specified the `auth_key` option, and then it works, of course.

[2021-09-11 02:20] kbreit commented on #254
Taking a stab here. I haven't been able to reproduce your bug yet. I am using a different module (`meraki_organization`) but that shouldn't matter. One difference I see is the line bolded in your output:

[code]

My output doesn't have that line. If it's doing privilege escalation, that may be dropping the environment variable. Is there something in your system or `ansible.cfg` which is setting `b

[2021-09-11 02:37] mtb-xt commented on #254
AHA!!!!!!!! That's it! Thank you for your help. Maybe, it's worth noting in a readme file, even though it should be obvious :man_facepalming:

![image](https://user-images.githubusercontent.com/11381295/132933426-77777b9f-0e53-4027-94ef-07ccb68985c9.png)

[2021-09-11 05:34] #254 closed

[2021-09-13 11:01] #251 closed

[2021-09-21 14:30] vinoymohan opened #255 "Getting error on Cisco.meraki module"
I tried to install the cisco meraki module on ansible and it says the module is already existing. But i am not able to query the module list for cisco.meraki. While i query, i get an error that cisco.meraki is not found .Is there a better way to install the module in ansible?

root@abc:/etc/ansible# ansible-galaxy collection install cisco.meraki
Process install dependency map
Starting collection i

[2021-09-22 22:42] kbreit commented on #255
Very interesting. I'm going to look into this and will report back.

[2021-09-26 01:51] mtb-xt opened #257 "Module error on empty ruleset with meraki_mx_l7_firewall"
Hi, this happens if the rules option contains an empty list:

[code]

My use case is that for some networks, I do not define the rules, but for others I do, and I go over them with a loop.
I know this could be solved with a 'when' condition, but I think modules shouldn't throw module errors anyway...

[code]

[2021-09-30 01:17] kbreit commented on #257
Thank you for the leaving this bug report and I apologize about the delay responding. This indeed can be solved with a `when` but it shouldn't require it and that exception should be caught. I need to look at my logic but I'd think if a blank list it may want to delete all the rules. Perhaps I will add a `state: absent` option and have it do nothing if `[]` is passed to `rules`. Would this be what

[2021-09-30 01:36] mtb-xt commented on #257
No problem and thanks for your help.
Yes, it seems reasonable to delete the rules, when empty list is passed and state is `present`. This would work for me, since I want to control the rules only from Ansible. When `absent` is passed, it's probably reasonable to remove the list of _passed_ rules.
But maybe there also should be a switch to invert this logic? I'm not sure.

[2021-10-02 01:10] kbreit commented on #255
As referenced in this issue I submitted this to the Ansible team for guidance. Let's keep this open until resolved though.

[2021-10-03 01:03] kbreit commented on #255
Someone responded and brought up a good point. You seem to be looking up an inventory module. `cisco.meraki` doesn't have one. Please try something like `ansible-doc cisco.meraki.meraki_organization`. Does this work?

[2021-10-03 01:05] kbreit commented on #257
I'd rather not have a switch to invert the logic as it is introducing more complexity. Interesting idea on the `absent` concept. The only challenge is the general idea of the rule manipulation in the modules is what you pass is what the rules are. You can't insert or edit just a single rule in the ruleset. That breaks it, but may make sense to include. I'll work on the `present` option and take a

[2021-10-03 01:15] #106 closed

[2021-10-03 06:57] vinoymohan commented on #255
Thanks Kevin for your support. When i upgrade the Ansible version to 2.11, the Meraki module worked. Thanks a lot for your time

[2021-10-04 13:54] kbreit commented on #255
Thank you for the report and using the modules! Please let me know if there are any other ways I can help.

[2021-10-04 13:54] #255 closed

[2021-10-15 03:46] mtb-xt opened #274 "Batch API support"
Cisco Meraki API supports 'action batches' - https://developer.cisco.com/meraki/api-v1/#!action-batches-overview

Would it be possible to integrate them with ansible meraki modules? At least per module, to save time on network requests in a switch ports loop for example?

If I have a playbook like this, as I understand, each loop element is a separate call to the API. With batching, it may be poss

[2021-10-19 10:30] mtb-xt commented on #250
still happens in other modules too, from time to time. usually, running again makes the error go away

[code]

[2021-10-20 12:14] kbreit commented on #274
I've considered Batch API but think it would be pretty hard to implement in Ansible without a significant amount of duplicate code in the modules. Reason being, Ansible requires you to declare your arguments. So I'd have a full set of normal arguments then a duplicate set for Batch API. Also, I'd only be implementing partial functionality since Batch API allows a single request hitting multiple en

[2021-10-20 12:15] kbreit commented on #250
That's what I've seen. My theory is it's a server side error but can't reproduce it enough to be helpful. If you'd like, I can see if I can get the Meraki team in contact with you to troubleshoot.

[2021-10-20 12:15] kbreit commented on #257
I haven't forgotten about this one. I implemented it and it uncovered a bug which I can't figure out so I'm working through that one.

[2021-10-29 18:57] kbreit commented on #250
@mtb-xt When you receive these errors, are they local on your system or a dedicated server? I ask because I had a lot of errors while addressing #257 but after quitting Slack and Discord, the errors seem to have largely disappeared.

[2021-10-29 19:42] kbreit commented on #257
@mtb-xt Thank you for your patience! I have a PR open for this. Would you please download the module in #257 and see if this works. Important: Since it deletes stuff, be sure to do it in a lab!!! Don't test against prod please :)

[2021-11-01 03:23] mtb-xt commented on #257
I'm sorry for the delay, got caught up by other stuff at work. I'll try to test this tomorrow (and my diff PR too, sorry)

[2021-11-12 11:20] ianvalero commented on #200
Hello, is there any module available to work with meraki licenses?
I need to list the available licenses and be able to assign a license to a computer.

Utilizo la version 2.9 de ansible

[2021-11-12 12:10] richardjohnallsopp commented on #200
What do you mean assign a licenses to a computer? There is an API v1 endpoint for claiming licenses into an Org but there are no Meraki Ansible modules using it https://developer.cisco.com/meraki/api-v1/#!claim-into-organization

[2021-11-12 13:09] ianvalero commented on #200
I need to use the following endpoints in Ansible
https://developer.cisco.com/meraki/api-v1/#!get-organization-licenses
https://developer.cisco.com/meraki/api-v1/#!update-organization-license

I have been looking for information in the official Ansible documentation for meraki but there is nothing about this topic

[2021-11-12 13:12] kbreit commented on #200
As commented in this thread I've been interested in a licensing module but haven't done it. I have a lot of PTO coming up so I hope to tackle it. For now though you'll want to use the `uri` module.

[2021-11-12 13:13] kbreit commented on #257
Have you been able to test this PR?

[2021-11-12 13:21] kbreit commented on #200
I want to confirm you're using org licenses (probably) and not per device licenses.

[2021-11-12 13:25] ianvalero commented on #200
I am working with one license per device

[2021-11-12 13:27] kbreit commented on #200
Technically every device has a license. Do you mean you're using their newer per device license model?

[2021-11-12 13:32] kbreit commented on #200
Take a look at https://documentation.meraki.com/General_Administration/Licensing/Meraki_Licensing for more information on the options. The endpoints probably don't support both.

[2021-11-12 21:19] kbreit commented on #250
@sstone173 I created a pull request to handle and retry the request 5 times before failing. I think this is due to something with Docker because as soon as I started running my tests locally and not in Docker, the errors disappeared. Because this problem is intermittent I can't test it. But please try this patch in a test environment and let me know if this fixes the issues. Thank you.

[2021-11-22 02:15] mtb-xt commented on #257
@kbreit thank you very much, I've tested the PR and it seems that it works correctly, it does not error out for me anymore.
I'm very sorry for the delay in responding to your message, had to switch to something else from Merakis at work.

[2021-12-08 20:10] holynakamoto opened #282 "Add contributing.md"
Add contributing md for developers:

ex.
https://github.com/PaloAltoNetworks/pan-os-ansible/blob/develop/docs/contributing.md

[2021-12-15 03:00] #257 closed

[2021-12-30 20:59] kbreit commented on #274
@mtb-xt I intended on working on this during the week but it didn't happen. This POC is still on my roadmap.

[2021-12-31 19:00] kbreit commented on #274
@mtb-xt I started development on the module today and made some good progress. Documentation isn't complete and I'm building out the tests but the module framework is there. Once I'm content with this module framework I'll add templating support to the switchport module so it can feed the data structure into `meraki_batch_action`. See https://github.com/kbreit/ansible-meraki/tree/modules/actionbat

[2022-01-03 02:30] #282 closed

[2022-01-26 09:41] Andersson007 opened #286 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-02-13 21:31] peetvandesande opened #287 "meraki_mx_l7_firewall doesn't accept its own rules"
The meraki_mx_l7_firewall function gives an error when feeding it back a set of rules already configured:

[code]

This is my playbook:

[code]

I'm working on Debian 11 and have version 2.6.9 of the cisco.meraki collection.

Any help is greatly appreciated!

[2022-02-18 17:38] KyleFryer-Sage opened #288 "meraki_syslog - Deploying same server 'roles' configuration results in 'TypeError: 'NoneType' object is not subscriptable'"
Judging by the traceback, it seems it is struggling during _generate_diff_, in instances where **identical** **roles** are re-deployed.

For example, the first attempt of the following input, works:
[code]

But when attempting to deploy again, where the diff should find the configurations identical and thus deploy no changes, we find that:
`"module_stderr": "Traceback (most recent call last):\n  F

[2022-02-19 02:57] kbreit commented on #287
I wasn't notified of this issue so I apologize about the delay in acknowledging it. Hopefully this weekend I'll have a little time to look into this and respond. Thank you for submitting this.

[2022-02-19 03:04] #286 closed

[2022-02-21 09:09] peetvandesande commented on #287
Thanks for looking into this, Keith. The problem seems to be with the application category. When I push just the host policy it's all fine.
I tried:
`{
  "application": "Advertising",
  "policy": "deny",
  "type": "applicationCategory"
}`
but that didn't help either. It gave me the below error:
`FAILED! => {"changed": false, "msg": "Failure when processing no_log parameters. Module invocation will

[2022-02-22 12:33] kbreit commented on #287
Looking at the code, I'm inconsistent in what I'm showing. Do something like this. You should be able to pass in either the `id` as shown below or `name` with the application category name. Let me know if that works.
[code]

[2022-03-05 02:36] kbreit commented on #287
I believe so, yes. Most of my stuff uses snake case instead of camel case. I'm going to close this but if you think the documentation can be improved let me know.

[2022-03-05 02:36] #287 closed

[2022-03-05 02:46] kbreit commented on #288
I'm looking into this tonight and was able to reproduce it. What's interesting is it worked fine if I had a single item in the role list but if I increased the length to two, it failed. Looking into this more.

[2022-03-05 03:23] kbreit commented on #288
@KyleFryer-Sage - Do you have the ability to test the code using PR #289?

[2022-03-07 17:50] KyleFryer-Sage commented on #288
Thanks for taking your time to look at this!

I tested with PR 289, and cleared my Ansible /tmp directory:
`commit e6055201bbdce93fcc90bc90a2057d5b6fdf0dc6 (HEAD, origin/bugfix/288-meraki_syslog-idempotency))`

[code]

When I test multiple times against a wireless network with the following, checking idempotency, the following **works as expected**:
[code]

When I test multiple times on a wireless

[2022-03-09 04:16] kbreit commented on #288
My current thought is it I would be weird if one role is the culprit here as they're "just" strings. I'm going to investigate why further to see what's going on. Thanks for the test cases.

Have you tested it on appliance or switch networks to see if those have similar problems?

[2022-03-09 12:19] kbreit commented on #288
@KyleFryer-Sage - The culprit seems to be related to case sensitivity. I'm specifying a list of acceptable roles in the playbook https://github.com/CiscoDevNet/ansible-meraki/blob/6c6f4676d188581aec6efae9b6b6d54aa95396b0/plugins/modules/meraki_syslog.py#L160 and Ansible treats those in a case-sensitive manner. Meraki on the other hand is case insensitive per documentation.

My modules are forcing

[2022-03-10 18:15] KyleFryer-Sage opened #290 "meraki_mr_ssid - splashGuestSponsorDomains param required when splash page is 'Sponsored guest'"
I get the following error when trying to provision a 'Sponsored guest' splash page within an SSID.

Input:
[code]
Results in:
[code]

I also get the following error when attempting the same via the Meraki Dashboard:
[code]

There does not seem to be a parameter in the meraki_mr_ssid module for this; may just need to be added - this parameter is also present in the Meraki dashboard API module withi

[2022-03-11 03:00] kbreit commented on #288
@KyleFryer-Sage Please try again with the same branch.

[2022-03-11 12:13] kbreit commented on #290
Thanks again for your bug report. In this case it appears I never implemented the splash settings endpoint at https://developer.cisco.com/meraki/api-v1/#!update-network-wireless-ssid-splash-settings. This is probably new as of v1 and I didn't catch it when I did the migration. With that said, I will implement the functionality in the `meraki_mr_ssid` module.

[2022-03-11 12:13] KyleFryer-Sage commented on #288
That seems to have sorted it, ran it multiple times with the same cases as I previously tried above, and all working as expected; idempotency checks are successful and not throwing any errors.

[code]

Thanks again!

[2022-03-11 12:16] kbreit commented on #288
Thanks for the update. I'm trying to see if I can set the choices in the `arg_spec` to be case insensitive natively within Ansible. If I can, I'll make that update and merge.

[2022-03-11 12:23] KyleFryer-Sage commented on #290
I think this particular parameter will have to be part of the `meraki_mr_ssid` module, as the `splashGuestSponsorDomains` parameter seems to be only required if the splash page `Sponsored Guest` is defined in the SSID module, so there is a dependence; and I find the same thing on the Dashboard (the parameter only becomes 'active' when `Sponsored Guest` is selected, on the same page)

![image](http

[2022-03-11 12:35] kbreit commented on #290
Are you proposing I put the bare minimum values in the SSID module and then have a separate one for everything else?

[2022-03-11 12:55] KyleFryer-Sage commented on #290
I'm proposing the parameters present in the function `def updateNetworkWirelessSsid` (https://github.com/meraki/dashboard-api-python/blob/6e68466ae79f0c1296f4836af22449e164d4c8c0/meraki/api/wireless.py#L1181) and also present via the API (https://developer.cisco.com/meraki/api-v1/#!update-network-wireless-ssid) are added to `meraki_mr_ssid`.

For example, this function accepts the following, and t

[2022-03-15 02:22] kbreit commented on #290
@KyleFryer-Sage - I created PR #291. Please test and let me know if this resolves this issue. I'll create a new module hopefully in the near future.

[2022-03-17 02:34] #290 closed

[2022-03-25 17:00] KyleFryer-Sage opened #293 "meraki_alert - Changes not being made"
The meraki_alert module is not adhering to defined changes; for example the below is attempting to enable a currently disabled alert (gatewayDown), and change a default destination email address, but the changes does not occur (changed: false).

[code]

This seems to be occurring with multiple `alerts` options, not just the `gatewayDown` alert, and also the `alert_destinations` and `default_destin

[2022-03-26 01:28] kbreit commented on #293
Thanks for reporting this. Do you have a sample task or two I can use to reproduce?

[2022-03-28 10:54] KyleFryer-Sage commented on #293
Apologies Kevin, the issue was starting me right in the face - I was injecting a query state whilst troubleshooting an alert filter issue and didn't return it; rookie mistake.

[2022-03-28 10:54] #293 closed

[2022-03-29 01:28] kbreit commented on #293
Thank you for the update!! Glad it was an easy fix.

[2022-03-30 02:23] feisa commented on #288
@kbreit looks like the issue is still present just tested

[2022-03-30 02:25] kbreit commented on #288
@feisa What is your playbook? I'm curious what's different. And what collection version are you using?

[2022-03-30 02:41] feisa commented on #288
Maybe me structure is wrong with 4 syslog servers
 cisco.meraki          2.6.1
 meraki_syslog:
    auth_key: "{{ meraki_api_key }}"
    state: present
    org_name: "{{ meraki_org.data[0].name }}"
    net_id: "{{ item.network_id }}"
    servers:
      - host: "10.3.15.11"
        port: 604
        roles:
          - Appliance event log
          - Security events
      - host: "10.5.15.11"

[2022-03-30 02:42] feisa commented on #226
meraki facts would be awesome

[2022-03-30 12:07] kbreit commented on #288
Thanks. I'll take a look in the near future. Hopefully Friday.

[2022-03-30 12:34] kbreit commented on #226
@feisa What information would you want out of `meraki_facts`?

[2022-03-31 02:19] kbreit commented on #288
@feisa - Please paste the error you're getting as the integration test I added with your task seems to work. Also, please modify the module name to be `cisco.meraki.meraki_syslog` to ensure it's using the collection.

[2022-04-06 03:32] Beardwin1 opened #296 "Support for Open and RADIUS Servers"
Hi,

At the moment you can't have auth_mode set to open and use the radius_servers keyword, as radius_servers requires open_with_radius or 802.1x radius, would it be possible to address this so that we can use Ansible for automating guest networks that require this specific setting, would be much appreciated! Love your hard work btw :).

This is the error I am faced with when setting auth_mode to

[2022-04-06 11:30] callumdd opened #297 "Unsupported parameter for (meraki_switchport) - access_policy_type"
"msg": "Unsupported parameters for (meraki_switchport) module: access_policy_type Supported parameters include: access_policy_number, allowed_vlans, auth_key, enabled, host, internal_error_retry_time, isolation_enabled, link_negotiation, name, number, org_id, org_name, output_format, output_level, poe_enabled, rate_limit_retry_time, rstp_enabled, serial, state, stp_guard, tags, timeout, type, use_

[2022-04-06 12:17] callumdd opened #298 "Switches not being claimed into network..."
Getting 200 OK when using these parameters in ansible-playbook:

![image](https://user-images.githubusercontent.com/79195669/161972318-b3f85bd4-46a2-4efb-8d40-eff72e0a0ce2.png)

However, the switch is not added to the specified network. AP's & MX's working fine... Have verified this with a state: query request which returns a 404 Not Found after 'claiming' the device via 'meraki_device' module.

[2022-04-06 17:14] adarcy42 opened #299 "Adding Static Routes using Ansible Meraki modules - Issues"
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_meraki_static_route_payload__21s1zke/ansible_meraki_static_route_payload.zip/ansible/module_utils/network/meraki/meraki.py", line 92, in inner
ansible.module_utils.network.meraki.meraki.HTTPError: HTTP error 404 - None

During handling of the above exception, another exception occurred:

Traceback (most recent call last

[2022-04-06 17:17] adarcy42 commented on #299
Playbook, API and Org_Id have been removed but have both been checked and are correct.

---

- name: Create Static Route on Meraki Device
  hosts: localhost
  connection: local

  tasks:

    - name: Add Route
      meraki_static_route:
        auth_key: XXXX
        state: present
        org_id: XXXX
        net_name: SD-WAN LAB
        name: Ansible_Route
        subnet: 10.223.10.0/24

[2022-04-07 01:23] kbreit commented on #296
I'm looking into this one more and the notes from Meraki do indeed say

I'm asking someone at Meraki about correct behavior and will report back. Either way, I can add `ipsk-with-radius` as an option.

[2022-04-07 01:25] kbreit commented on #297
@callumdd - Thank you for the report. Would you please include your task that's causing this? I'm looking into it though.

[2022-04-07 02:23] kbreit commented on #298
I'm seeing different behavior but even what I'm seeing looks wrong. The device gets claimed but the API isn't returning any data. Both Ansible and my API client are showing this behavior and I'm looking into it more.

[2022-04-07 03:29] Beardwin1 commented on #296
Thanks for the reply. If possible I'd want the encryption set to "open" and "radius for splash page" options. Understand if it's out of your control and thanks a lot for your effort! Will await a response. Do let me know when they get back to you.

[2022-04-07 05:09] Beardwin1 opened #300 "Layer 3 Firewall rules"
Hi,

I'm not sure if it was developed in this manner but I seem to have spotted an issue. When running the below play:

![image](https://user-images.githubusercontent.com/86856010/162124254-67dbe5c5-6855-49b3-8608-f34b07de8863.png)

After running the playbook, if there are any firewall rules that have been created, this will delete them all and replace them with just the 1 firewall rule specified

[2022-04-07 05:15] Beardwin1 opened #301 "Meraki Alert issue"
I'm just doing some testing with the Ansible Meraki module using meraki_alert. Am I doing something wrong? I keep getting the below error:

![image](https://user-images.githubusercontent.com/86856010/162124932-a8237b12-5f90-4c6b-8bfe-a123bc115683.png)

"ERROR! 'meraki_alert' is not a valid attribute for a Play

The error appears to be in '/home/beardwin/meraki-ansible/playbooks/alerts12.yml': line

[2022-04-07 06:57] kbreit commented on #300
This is how it works by design. It's how the API works and to modify this would be a rewrite of the module and would break backward compatibility. The first note for the module states

What are you trying to do?

[2022-04-07 11:25] kbreit commented on #296
What are you trying to accomplish by having it be open and have a backend RADIUS server? If it's open there's inherently no authorization or authentication so the RADIUS server wouldn't have a place.

[2022-04-07 14:35] Beardwin1 commented on #300
So it's not ideal to use it for adding extra firewall rules if there are existing firewall rules already?

[2022-04-07 16:46] TKIPisalegacycipher commented on #296
First, could you confirm this is a valid config Meraki allows via GUI?

If so, please provide screenshots of the config elements.

[2022-04-07 18:19] Beardwin1 commented on #296
Sorry not entirely sure what you want me to do? Could you explain a bit more?

[2022-04-07 18:28] TKIPisalegacycipher commented on #296
Are you able to push that config via the API (without using Ansible)?

E.g. via postman or a curl command?

[2022-04-07 20:00] Beardwin1 commented on #296
Ah thanks for that, that would probably work but I don't really have any experience with that. I just learned Ansible, so that's all I know so far trying to learn other technologies too, but still new to this field of IT.

[2022-04-08 01:20] kbreit commented on #301
To my mind this looks fine but obviously there's something off. It seems like a syntax error to me. I'd recommend putting your playbook into a YAML validated and seeing what it says. Online ones may have access to the content so don't put sensitive content in it.

Regarding your question about possible values, in this case I don't think so. I looked at the API documentation and they don't list all

[2022-04-08 01:21] kbreit commented on #300
Correct. It wants to own all the rules.

Do you have experience with Python? If so you may want to look into writing an Ansible filter to manipulate the rules.

[2022-04-08 01:22] kbreit commented on #296
Give me a day or so and I can write a `curl` command you can run from a Linux or Mac CLI to test.

[2022-04-08 02:06] Beardwin1 commented on #301
Thanks, do let me know if you find anything. Does the module look fine to you?

[2022-04-08 03:05] Beardwin1 commented on #300
Not the best still doing some studies on Python, do you have any documentation to point me to at all? But that's fine thanks a lot for the help and advice!

[2022-04-08 05:34] Beardwin1 commented on #296
Thanks, really appreciate it!

[2022-04-09 02:26] kbreit commented on #296
@Beardwin1 Obviously modify the values to match what you need. But this is a proof of concept.

[code]

@TKIPisalegacycipher FWIW, it worked for me with `curl`.

[2022-04-10 19:55] Beardwin1 commented on #296
Thanks a lot! Just to check, I need to adjust the values to what I need and just copy and paste it and run it on Linux right?

[2022-04-10 20:03] kbreit commented on #296
Correct. Network name and API key are the most obvious. Probably the SSID number too. If you need help getting those let me know.

[2022-04-11 00:54] kbreit commented on #301
My module tests execute just fine. Not to say they're perfect. Far from it. Did you try putting your playbook through a YAML validation

[2022-04-13 17:21] odmattvicari opened #302 "Site to Site firewall idempotency"
After using this module, I noticed it only marks the config as "changed" if the total number of rules changes. So in other words, adding or removing from the total lines of firewall policy will trigger a change. However, modifying the contents of a rule, for example changing an IP address of an existing dest, will not trigger a change.

It looks like on line 284 the only check of the rules is base

[2022-04-16 01:42] kbreit commented on #302
Thank you for reporting this. I haven't analyzed the code in a while (and boy was it a weird bit of code to write!) but it should be comparing more than just the length of the rules. Do you have a playbook task I could use to reproduce this problem?

[2022-04-27 17:56] TerriblePowershell opened #303 "Renaming AP returns error that device is already claimed."
I am working on creating a rename playbook for when we replace our AP's and am currently just trying to test renaming a single AP. When I run the playbook, Ansible returns an error saying the device is already claimed. I'm still very new to Ansible so it's likely something I'm doing.

Any help is greatly appreciated!!

### Playbook
[code]

### ap_vars.yml
[code]

### Error
[code]

[2022-04-28 17:07] #303 closed

[2022-05-02 11:53] oliverl-21 commented on #288
i receive the same error but on meraki_mx_vlan.
The diff check should recognise no change needs to be done and then errors with:
[code]

[code]

[2022-05-06 16:01] dmsimard opened #305 "Sanity tests failing in cisco.meraki"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against cisco.meraki 2.6.1 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANSIBLE

[2022-05-10 15:21] TerriblePowershell opened #306 "Multiple tags not applying to devices."
When attempting to update the tags on devices, the devices will not take more than one tag when space delimited.

If tags are done in a list the device will take both tags without issue.

[code]

If tags are entered space delimited, the device retains it's previous tag(s).

[code]

### Task for updating device information:

[code]

### CSV file containing variables

[code]

### File with variables

[2022-05-10 18:37] richardjohnallsopp opened #307 "Query organisation rf profiles without `net_id`"
I was wondering if there is a way we could make the `meraki_mr_rf_profile` module have the ability to query and add the RF profiles at an org level without the requirement of `net_id`. The use case is we have a massive AP deployment where each site in our wireless org has a network, but we use a single template to configure all the devices. RF profiles live in the template, but the way the module

[2022-05-11 12:20] kbreit commented on #307
I'm constrained by what the API will allow me to do. Browsing the API I'm not seeing any option for applying an RF Profile to an organization instead of a network. Are you familiar with an endpoint that attaches it to the organization?

[2022-05-11 12:20] kbreit commented on #306
Thanks for reporting this. Let me look into this and get back to you.

[2022-05-11 12:22] kbreit commented on #306
I believe this problem is actually with documentation instead of the code itself. IIRC, v0 of the API was space delimited and v1 is a list. I'll update documentation but my recommendation is to use a list. Is there a reason it needs to be space delimited?

[2022-05-11 12:23] kbreit commented on #288
@oliverl-21 Thanks for reporting this. I'm going to create a new issue for this and tag you in it.

[2022-05-11 12:24] kbreit opened #308 "meraki_mx_vlan - Diff causes crash"
As reported in @288...

i receive the same error but on meraki_mx_vlan.
The diff check should recognise no change needs to be done and then errors with:
[code]

[code]

_Originally posted by @oliverl-21 in https://github.com/CiscoDevNet/ansible-meraki/issues/288#issuecomment-1114762834_

[2022-05-11 12:27] richardjohnallsopp commented on #307
No I couldn't see a way to do it via the API but thought I'd ask, I assume you can add profiles to templates either?

[2022-05-11 12:38] kbreit commented on #307
You should be able to apply it to templates. Instead of specifying the network ID specify the template ID in `net_id`.

[2022-05-11 12:43] richardjohnallsopp commented on #307
Ok cool I'll give that a shot and get back to you ASAP. So using that logic could I use template ID in `net_id` when I query for profiles? If that works I can then pull the data from the portal and have ansible build be the variable files I want to use for updating and creating.

[2022-05-11 12:53] richardjohnallsopp commented on #307
Seems like query doesn't like the template ID instead of `net_id`
[code]

[2022-05-11 15:55] TerriblePowershell commented on #306
Ahh. That would explain why it isn't working.

Not specifically, I suppose. I'm gearing up to swap out ~400-450 AP's here in the next month or two and was looking at using a .csv file for the AP's since it would be much easier to build out a .csv file with all the necessary parameters vs. doing it all in yaml. I figured it would be easier to use the tags if they were space delimited but I found a

[2022-05-11 21:55] kbreit commented on #305
@dmsimard I'd like your guidance on how to fix these. These errors are coming up likely because I renamed the modules from, for example, `meraki_content_filtering` to `meraki_mx_content_filtering`. Should I add this to my ignore file or is there a better approach?

[2022-05-11 21:55] kbreit commented on #298
@caldd Is this still an issue for you?

[2022-05-11 21:56] kbreit commented on #300
@Beardwin1 Sorry I am just now getting back to you. I have an example for something else I did. See https://github.com/kbreit/ansible-demos/tree/main/6-port_config_filter for an example.

[2022-05-11 21:57] kbreit commented on #300
I am going to close this for now but happy to continue the discussion.

[2022-05-11 21:57] #300 closed

[2022-05-11 21:57] kbreit commented on #301
@Beardwin1 Following up. Were you able to validate the YAML? I could continue looking into it if it's still a problem

[2022-05-11 21:58] kbreit commented on #302
@odmattvicari Following up. Do you have a playbook I could use to reproduce the problem? Thank you.

[2022-05-11 22:00] kbreit commented on #306
I'd like to clarify how you're trying to remove the tags. Are you specifying `tags:` like below?

[code]

This would be an empty list. If you exclude `tags` altogether it wouldn't remove the tags. Just making sure.

[2022-05-11 23:02] TerriblePowershell commented on #306
In order to remove the tags, I've just left that field of the .csv file blank. I thought that it might read it as an empty field and just remove the tag but it doesn't appear so.

How it looks in the playbook:
[code]

The .csv file is written like this:
[code]
Leaving the `ap_tags3` open doesn't seem to do anything but if I specify another tag in there, it will change all the tags.

[2022-05-12 01:35] kbreit commented on #306
I get the feeling this is actually a problem related to Ansible and how it is importing it from the CSV. Do you have a full playbook to show this? I'd like to see how it's handling the CSV import.

[2022-05-12 01:46] kbreit commented on #307
@richardjohnallsopp When you say template, you mean a configuration template, yes? If so, can you confirm that's indeed your configuration template ID? In my experience configuration template ID's begin with `L_` and you're showing `N_`. That may not solve the problem, but it's the first thing jumping out to me.

[2022-05-12 01:58] kbreit commented on #308
@oliverl-21 Do you have a full test case I can use to reproduce this? I added a test in my integration test that seems to match yours but isn't reproducing the crash.

[code]
You can see this at https://github.com/CiscoDevNet/ansible-meraki/pull/309/files#

[2022-05-12 04:56] TerriblePowershell commented on #306
### Playbook: meraki-ap-update.yml:
[code]

### Role device-query:
[code]

### Role rename-devices:
[code]

[2022-05-12 07:16] oliverl-21 commented on #308
That's my scenario. I excluded the device binding in this sample.
it creates the site, binds it to a template and sets the IPs for the VLANs

Currently i'm not able to reproduce the error.

[code]

[code]

[2022-05-12 08:38] richardjohnallsopp commented on #307
@kbreit when I query any wireless network where the template is applied I get the same ID

[code]

[2022-05-13 15:06] mariolenz commented on #305
@kbreit We're sorry, this looks like a false positive from our side. You can close this issue. If you're interested in what went wrong, see [here](https://github.com/ansible-community/community-topics/issues/96#issuecomment-1125572846) for more information.

[2022-05-13 15:45] #305 closed, assigned to nobody

[2022-05-13 21:07] nsn-amagruder opened #310 "Meraki_Alert default_destinations http_server_id"
The http_server_id isn't being configured using meraki_alert module.  The email does get configured.  I ran a query and can get the exact http_server_id.  No error is returned, it just doesn't configure the WebHook in the default alerts.

[code]

Results

      ],
            "default_destinations": {
                "all_admins": true,
                "emails": [
                    "email@domain

[2022-05-14 09:00] kbreit commented on #310
Thanks for reporting this. I took a quick look at the code and think I know why it is happening. I'll try to fix it this weekend. There are a few small things I need to fix across the collection but I should be able to do a new release over the next couple of weeks.

[2022-05-15 02:07] kbreit commented on #310
@nsn-amagruder Are you able to test #311? This should fix it.

[2022-05-15 02:52] nsn-amagruder commented on #310
@kbreit Appreciate the quick response. After figuring out how to add the repository and get it check out, I'm not sure if it is using the new files or not.  I'm not aquatinted with git that well.

git fetch ciscodevnet
remote: Enumerating objects: 97, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 97 (delta 42), reused 47 (delta 42)

[2022-05-15 03:02] kbreit commented on #307
@richardjohnallsopp On your comment

What module is this? Looks more like `meraki_network` than RF profiles.

[2022-05-15 03:08] kbreit commented on #310
Look in `plugins/modules` for the module. In this case `meraki_alert.py`. Copy that over your collection module. If you're using the collection copy that over the older version that's I think in `~/.ansible`. It's not the exact path but you should be able to drill down to find it pretty easily. Let me know if you can't figure it out and I'll try the actual steps.

[2022-05-15 03:26] nsn-amagruder commented on #310
@kbreit I guess I was making it more complicated that it had to be.  I downloaded the new Meraki_alert.py file and replaced the other one.  Same issue. It doesn't config the default Webhooks.  I was checking the Meraki API v1 and it says the httpServerIds is the correct value.  Not sure if this has anything to do with it or not. I tried updating the file with this in place of http_server_id.   The

[2022-05-15 03:30] kbreit commented on #310
@nsn-amagruder I use snakecase and Meraki uses camel case so I spend a lot of conversion. Can you take a look at like 240 in the `meraki_alert` file that you believe is in use to confirm you're using the version in the PR? Paste that line in and I'll confirm. Thanks

[2022-05-15 12:18] richardjohnallsopp commented on #307
The above is me querying the `meraki_network` to show that the template ID I'm using in `meraki_mr_rf_profile` is correct. For some reason when I use the `net_id` as the template IT it hangs for a while and then errors out.

[2022-05-15 14:00] nsn-amagruder commented on #310
@kbreit The ansible collection was installed in the base ./ansible directory as well as underneath python directory.  I put it in the wrong place.  It is working as expected.  Thank you so much.

        "diff": {
            "after": {
                "default_destinations": {
                    "http_server_ids": [
                        "fake_server_id"
                    ]

[2022-05-15 14:30] kbreit commented on #310
I suspected the problem had to do with duplicate installs. It's bit me too. I'll merge and get a new release soon. Thanks for testing.

[2022-05-15 14:30] #310 closed

[2022-05-16 01:49] kbreit commented on #308
@oliverl-21 I am going to close this issue for the moment. However, if you experience it again, please open the issue again. With the test case I'll be able to delve into it better, if it's indeed a problem again.

[2022-05-16 01:59] kbreit commented on #307
I created a new integration test and the query to `meraki_network` seems to be working. Are we approaching this task the same way?

[code]

[code]

[2022-05-16 02:01] kbreit commented on #306
I maybe missing it but where is it converting the tags to a list?

I'm going to close this issue as it's a documentation problem. However, I am fine continuing to discuss the CSV import.

[2022-05-16 02:01] #306 closed

[2022-05-16 10:09] richardjohnallsopp commented on #307
Yeah my code is the same as is the output, what doesn't work is using that template ID to query the RF profiles attached to the template. I'd like to see this working in your lab. One issue I can think about is that our Meraki wireless template was manually build 5 years ago so that might explain the weird ID.

[2022-05-16 11:35] kbreit commented on #307
Do you have Postman or any tool like that? If you know how to, please try the query there. What does it respond with? If it has a 500 error and gives no details you should be able to work with Meraki support on the problem.

[2022-05-16 15:28] TerriblePowershell commented on #306
I suppose it's not actually converting them to a list. I'm not really sure how I'd go about that using a .csv file with Ansible.

[2022-05-17 09:54] #200 closed

[2022-05-17 09:54] #116 closed

[2022-05-20 10:48] szeestraten opened #316 "Add support for Network/Policy Objects"
It would be great if Network/Policy Objects support would be added.

https://documentation.meraki.com/MX/Firewall_and_Traffic_Shaping/Network_Objects_Configuration_Guide

[2022-05-20 11:33] kbreit commented on #316
Thank you for your request. Do you know if the Meraki API supports this action?

[2022-05-20 12:11] szeestraten commented on #316
Hi @kbreit, thank you for your quick response (and great work on the modules)!

Yes, it was introduced in [v1-11-0-beta-0](https://developer.cisco.com/meraki/whats-new/#!v1-11-0-beta-0/-organizations).

A good start might to add modules for CRUD operations of policy objects and groups first.

Then later add support for policy objects and groups in the mx_l3_firewall module so they can be utilized.

[2022-05-23 02:42] gj0nyg opened #317 "MX Static route failing with VLAN error code"
fatal: [localhost]: FAILED! => {"changed": false, "msg": "HTTP error 400 - https://api.meraki.com/api/v1/networks/XXXX/appliance/staticRoutes/XXXX- 'gatewayVlanId' must be a string", "response": "OK (unknown bytes)", "status": 400}
Example playbook:
---
- name: test
  hosts: localhost
  tasks:
    - name: test
      meraki_static_route:
        auth_key: XXXX
        state: present
        org_nam

[2022-05-30 06:48] szeestraten commented on #316
@kbreit I understand the hesitation. Perhaps it would be possible to add some notes in the modules regarding their beta status? Please note that it is an [open beta](https://documentation.meraki.com/MX/Firewall_and_Traffic_Shaping/Network_Objects_Configuration_Guide#Prerequisites) which has been available for quite a while and everyone can opt-in if they want.

I also did not see the endpoints on

[2022-06-03 11:27] szeestraten opened #318 "Add module for managing third party (non-Meraki) VPN (site-to-site) peers"
Would love to see a module for managing third party (non-Meraki) VPN (site-to-site) peers:

[API documentation](https://developer.cisco.com/meraki/api-v1/#!get-organization-appliance-vpn-third-party-vpn-peers)
[Documentation](https://documentation.meraki.com/MX/Site-to-site_VPN/Site-to-Site_VPN_Settings#Non-Meraki_VPN_peers)

[2022-06-10 11:30] szeestraten opened #319 "Add diff to mx_l3_firewall module"
Hi, it would be nice to have diff functionality in the mx_l3_firewall module.
I saw the previous issue #37 regarding diffs so I hope it's OK to put in a request here.

[2022-06-11 14:39] kbreit commented on #318
Thanks for the feedback. I should be able to build this one.

[2022-06-13 02:18] kbreit commented on #318
I created a pull request with a new module for this functionality. If you can give it a try, please do. Otherwise I hope to have some time this week for a new release with the module.

[2022-06-13 08:39] szeestraten commented on #318
@kbreit, I just gave the PR a quick try and it worked great for both querying and setting VPN peers here.

For any future users, the API endpoint design might be a bit confusing compared to the web UI/dashboard.
The API endpoint is `/organizations/{organizationId}/appliance/vpn/thirdPartyVPNPeers`, however in the web ui the site-to-site VPN settings are found under specific networks and not org-wi

[2022-06-13 12:14] kbreit commented on #319
I was looking into this and it should be possible. The way this module works does complicate it but let me look into it.

[2022-06-13 21:07] szeestraten commented on #316
@kbreit just wanted to let you know that I started working on PR for this. Should hopefully have something to review in a week or two.

[2022-06-13 21:17] craigers521 commented on #274
Bump.  I'm also interested in action batch functionality for the ansible modules.  @kbreit is this still on the roadmap for you? That branch on your fork is listed as stale.  I like the direction so far, what do you think it needs to get it over the finish line?

[2022-06-13 22:15] kbreit commented on #316
Thank you for writing a PR. Please model it off existing endpoints and be sure the documentation is full as many of the sanity tests will fail if it's not.

My hesitation is the feature is in beta, not even just the API endpoint which means there's possible. Please be sure to add notes stating the feature and API endpoints are in beta and may break without notice. If you have any questions though,

[2022-06-14 00:04] kbreit commented on #274
It's on the roadmap but somewhat down the list. To me batch actions feel awkward in Ansible but I understand there are situations it makes sense.

Current status is the module needs to be tested and documented but if I recall it's relatively close. The big work is going to be modifying other modules to output their payload. Do you have a module you'd like to use with action batches?

[2022-06-14 00:16] craigers521 commented on #274
Hey Good to hear.  I'd say offhand create/update networks, update switch
ports, create/update SSIDs would be some top contenders.

On Mon, Jun 13, 2022, 7:05 PM Kevin Breit ***@***.***> wrote:

[2022-06-14 02:34] kbreit commented on #319
I've been working on this feature tonight and the module logic is awful because the default rule significantly complicates things. I may refactor the module altogether and add it then.

[2022-06-14 05:02] szeestraten commented on #319
@kbreit thank you very much for taking a look. The default allow any rule I presume (that caught me out a couple of times)? Just a heads up that I'll most likely touch this module in #316. If it's ok for you, I'll just work from the current implementation there.

[2022-06-14 10:21] kbreit commented on #319
Good point. That's fine go ahead and work on the module.

[2022-06-14 12:58] kbreit opened #321 "meraki_network no longer enables VLANs"
v1 of the API changed how VLANs are enabled. Instead of updating the network there is a new endpoint documented at https://developer.cisco.com/meraki/api-v1/#!get-network-appliance-vlans-settings. I need to decide if this should be part of `meraki_network` or if there should be a `meraki_network_vlan_settings` module.

[2022-06-15 00:58] #321 closed

[2022-06-15 01:31] #317 closed

[2022-06-21 12:23] kbreit commented on #274
@craigers521 I've come up with an approach on this module. I'm going to release it as is in a "beta" state. This will allow for public testing and feedback. I'm going to start working on adding support for `state: render_*` where `*` is a an Action Batch action. One place that'll likely catch you up is the modules will convert response data from camel case to snake case but the `body:` field will

[2022-06-24 11:42] vladsker opened #327 "meraki_switchport support for flex stacking"
Hello, Kevin, everyone,

I've found that Meraki switchport module is missing support for the Flex stack port setting. In a nutshell, this feature allows a regular port to be used as a stacking port.

More details are:
Meraki documentation: https://documentation.meraki.com/MS/Stacking/Switch_Stacks;
Meraki API documentation: https://developer.cisco.com/meraki/api-latest/#!update-device-switch-port.

[2022-06-24 11:45] kbreit commented on #327
Thanks for pointing this out. It's actually missing a few items I intend to add. I've got some plans this evening but should be able to implement it over the next few days and create a new version next week.

[2022-06-24 11:49] vladsker commented on #327
Thanks a lot for looking into this, Kevin. I will be waiting.

[2022-06-24 12:36] #327 closed

[2022-06-29 07:32] ginigangadharan opened #329 "meraki_mx_l3_firewall - rules are overwriting instead of appending"
The `meraki_mx_l3_firewall` is just replacing/overwriting the entry(s) instead of adding/appending new rules. Is there a way to prevent this?

Maybe a parameter called `append: yes` ?

Playbook:

[code]

Thanks

[2022-06-29 08:15] kbreit commented on #329
This is how the API works and for me to add support for modifying individual rules would complicate the module more than it already is. Do you have an example of what you're trying to do?

[2022-06-29 08:25] ginigangadharan commented on #329
@kbreit
oh okay. Trying to add new rules actually. It seems I need to collect existing rules and then add all rules back with the new rule!

or am I doing wrong with the module ?

[2022-06-29 08:38] kbreit commented on #329
You're correct. You'll need to download the rules, modify how you need, and reupload. I wish there was an easier way to do it but with the API handling it this way it isn't easy for me to modify individual rules.

[2022-06-29 08:38] #329 closed

[2022-06-29 08:40] ginigangadharan commented on #329
Uunderstood.

@kbreit thank you for explaining this :)

[2022-06-30 11:59] kbreit commented on #288
I'm closing this issue as I believe it's resolved. If it's not, please create a new issue and I'll addess it there.

[2022-06-30 11:59] #288 closed

[2022-06-30 12:52] craigers521 commented on #274
Awesome.  I'll test it out and let you know. Thanks for the work on this.

On Thu, Jun 30, 2022, 6:56 AM Kevin Breit ***@***.***> wrote:

[2022-07-04 09:29] y0rune opened #331 "[cisco.meraki.meraki_switchport] Problem with the clean the "vlan""
Hello!
I would like to clean the vlan on the specific port. I created the `.yml` file for it:
[code]

After run it I got:
[code]

In the api site I found out the information about:
![image](https://user-images.githubusercontent.com/10187235/177125995-ff7fc5fe-9e9e-4831-a034-25e352e2f6a4.png)

I tried curl connection:
[code]

So I would like to ask how I can clean the vlan field?

Thank you!

[2022-07-04 10:38] y0rune commented on #331
Yeah yeah!
In the our configuration we do not use the vlan and from the web we can do it. So i think that think it should be enabled via API or Ansible.

Thank you for response.

[2022-07-04 10:50] y0rune commented on #331
If I run the curl:
[code]

So I think the api only accept the values between 1 and 4094

[2022-07-04 10:58] kbreit commented on #331
Agreed but I have the luxury of interpreting and manipulating the data as part of the module since it's Python.

[2022-07-04 11:09] kbreit commented on #331
I just submitted a PR to fix this. Please test using this change.

[2022-07-04 11:23] y0rune commented on #331
Okey!
I changed in the playbook from `None` to `0` (as docs suggest) and changed the requirements to your repo and branch it worked!

Run the changed playbook:
[code]

Run it again:
[code]

It worked! I think you can merge it :D

Thank you!

[2022-07-04 11:29] #331 closed

[2022-07-06 01:48] charrrr93 opened #335 "CopyFromId in meraki_network module"
Hi,

Just wanted to see if there is something in the roadmap to add the CopyFromId field into the meraki_network module? I find this super convenient for a new rollout of devices so that all the basic network settings are just copied from my manually configured site rather than going back and updating them via the API. Things like the local status page, snmp, syslog, analytics etc.

Thanks,
Charlo

[2022-07-06 01:55] kbreit commented on #335
Thank you for reporting this. I wasn't aware it was an option. Having said that it's sensible to include so I'll look to add it.

[2022-07-06 02:18] charrrr93 commented on #335
Awesome, thank you so much. And thanks for the quick reply!

[2022-07-06 12:17] #335 closed

[2022-07-06 22:49] charrrr93 commented on #335
That was such a quick turn around and I just checked and it works perfectly. Thanks so much!

[2022-07-07 04:59] ginigangadharan commented on #329
Hi @kbreit
We have tried the method which we discussed last time - gather existing rules and combine them with a new entry. This is working with IP/CIDR/FQDN.
But when there are objects and object groups in the source/destination, the module will fail. It says expecting IP/CIDR/FQDN.

I have checked the [API](https://developer.cisco.com/meraki/api-latest/#!update-network-appliance-firewall-l-3-fir

[2022-07-07 12:06] kbreit commented on #329
Please send an example playbook I can use to piece this together. Your point makes sense.

[2022-07-08 03:31] ginigangadharan commented on #329
Hi @kbreit sure.

yeah, otherwise the module is not useful as we don't even able to follow the "fetch and combine" method too.

New rule to add:

[code]

Please see my tasks below.

[code]

[2022-07-15 11:11] hswong3i opened #337 "`scripts/sublime-build/build.py.generic` with mangling shebang `/Users/kbreit/Documents/Programming/ansible_collections/cisco/meraki/venv/bin/python`"
https://github.com/CiscoDevNet/ansible-meraki/pull/324 introduce the `scripts/sublime-build/build.py.generic` with following shebang:
[code]

Although `scripts/sublime-build/build.py.generic shebang` is add for skipping corresponding shebang check locally, for real world packaging into deb/rpm it will generate hidden error.

I am packaging https://build.opensuse.org/package/show/home:alvistack/ans

[2022-07-15 22:32] gotmax23 commented on #337
This issue also affected the Fedora ansible package. Thanks for reporting this, @hswong3i!

[2022-07-16 02:57] hswong3i commented on #337
Yes it is failing in my GitLab CI, too:
* Fedora 35: https://gitlab.com/alvistack/vagrant-fedora/-/jobs/2725754807#L476
* Fedora 36: https://gitlab.com/alvistack/vagrant-fedora/-/jobs/2728054189#L481
* Fedora Rawhide: https://gitlab.com/alvistack/vagrant-fedora/-/jobs/2727926306#L478

[2022-07-16 11:50] #337 closed

[2022-07-16 12:02] kbreit commented on #337
Thanks for reporting this. I wasn't aware how this would affect the packaging process. I've fixed this bug and done a new release of the modules. This should be fixed in v2.10.1.

[2022-07-20 08:45] johanneskastl opened #341 "Wrong shebang in scripts/sublime-build/build.py.generic"
https://github.com/CiscoDevNet/ansible-meraki/blob/f6c2b74c9a74103f7e08e2e39728b3578a3e5668/scripts/sublime-build/build.py.generic#L1

I guess the shebang should not be `/Users/kbreit/Documents/Programming/ansible_collections/cisco/meraki/venv/bin/python`?

[2022-07-20 09:57] y0rune opened #342 "[cisco.meraki.meraki_switchport] Cannot change type from `"type": "access"` to `"type": "open"`."
Hello!
I saw when I set the `"type": "access"` I cannot change the `"type": "open"`. I resolve it via GUI (manually change it in the port configuration) So I think it is a bug :D

[code]

Vars:
[code]

[code]

[2022-07-21 12:50] kbreit commented on #341
@johanneskastl I did a release of Ansible to 2.10.1 and it should be changed. Which version are you looking at?

[2022-07-21 13:18] johanneskastl commented on #341
Sorry, I looked at the wrong branch apparently. Seems to be fixed in master:
https://github.com/CiscoDevNet/ansible-meraki/blob/master/scripts/sublime-build/build.py.generic#L1

[2022-07-21 13:18] #341 closed

[2022-07-21 18:50] y0rune commented on #342
I set the custom access policies as you can see in the yaml code:
[code]
But in the `state: present` I do not set any custom polices.

[2022-07-21 18:57] y0rune commented on #342
For example I set the port like this:
![image](https://user-images.githubusercontent.com/10187235/180294490-d3ab2474-9f8f-4673-a3d8-e73c7e75c43a.png)

After that I would like to change it like was before so I would like to run the playbook with the configuration you saw above.

[2022-07-22 16:19] kbreit commented on #342
I'm going to test this further but I want to confirm one detail. I do see your `AP_TYPE` variable is set to `trunk` which isn't compatible with access policies. Is your intention this port be a trunk port?

[2022-07-24 17:52] y0rune commented on #342
Yeah this is my intention. I would like to set it into a trunk port. So I think I should disable policy and after that apply the type trunk. So I believe it can be automated in the ansible :D
Thank you for your response.

[2022-08-02 12:55] mksbcisco opened #344 "Add attribute of sending Splash Page URL"
Hello,

Currently you can define if the login will be through Splash Page, but there is no option to define the splash page either the same can be integrated into the existing module and send the complete detail as a dict or can be made a s a separate module

regards

[2022-08-13 01:49] craigers521 commented on #274
Hey Kevin - So I am coming back to this and ended up making some progress using some inline jinja.  This playbook will take my group/host vars for switchports that i can use normally with the ms_switchport module and creating a list of actions to send to the action_batch API.  Right now the only problem i ran into, i had to take the "number" out of the the payload as the AB was choking on this, so

[2022-08-15 21:22] craigers521 opened #345 "allowed_vlans on meraki_ms_switchport should be string not list"
##REQUEST##

The default data type for the API parameter is a string, i believe this should also be true for the meraki module. It looks like you are taking a list of ints and converting them to a string anyway.  I believe this is breaking idempotency, and in my case its also forcing me to use more complex logic when converting my host_vars from using the switchport module into creating a body for

[2022-08-29 09:42] oliverl-21 opened #347 "Alert idempotency error"
If you try to create alert settings and rerun the playbook you receive the following error.

[code]

[code]

[2022-09-10 16:20] y0rune opened #361 "Warnings in the anisble tests"
Hello!
I tested the repo using the command:
[code]

The output showed the `Finished with 1808 failure(s), 681 warning(s) on 157 files.`
I would like to check it and changed it to resolve all of them.

List where I would like to change the warnings:
- [ ] tests/integration/targets/meraki_action_batch/tasks/main.yml
- [ ] tests/integration/targets/meraki_admin/tasks/main.yml
- [ ] tests/integration/

[2022-09-10 16:31] kbreit commented on #361
You should be assigned to this issue.

[2022-11-01 10:08] y0rune commented on #226
I think I will finish two of my tasks (#361 and #342) after that action I can try to create that module. But approximately I will do it in the December.

[2022-11-01 10:09] y0rune opened #376 "Create module for meraki switch static route"
Based on https://github.com/CiscoDevNet/ansible-meraki/issues/226#issuecomment-1298180752.

[2022-11-14 20:49] y0rune opened #380 "Fix the not running test for"
I got the error:
[code]

[2022-11-23 18:11] joshuajcoronado opened #388 "Idempotent issue with meraki_webhook"
hi @kbreit

I think i've tracked down the bug that's blocking the meraki webhook integration tests that we first discovered when trying to merge https://github.com/CiscoDevNet/ansible-meraki/pull/384.

I don't believe it's a change in the API by cisco, but rather an issue the with function [generate_diff](https://github.com/CiscoDevNet/ansible-meraki/blob/master/plugins/module_utils/network/meraki

[2022-11-23 18:20] kbreit commented on #388
That's indeed what's causing it. Worse is that I think it's also happening for `url` which is why I'm asking Meraki if it's a bug. It would make sense you can update the URL but my experimentation is showing otherwise. I had some changes to fix this which I need to apply. We basically need to check if the update is required before generating the diff. But the URL is still something that needs to b

[2022-11-23 18:23] joshuajcoronado commented on #388
oh wow, didn't realize you couldn't update the URL, that's unfortunate that doesn't work either, yah, let me know what they say

[2022-11-23 18:29] kbreit commented on #388
If you can, please try to update the URL on your side and let me know if you're seeing different results.

[2022-11-23 18:34] joshuajcoronado commented on #388
👍

[2022-11-23 19:24] joshuajcoronado commented on #388
@kbreit seeing the same thing, it throwing an error since the returned object contains the OLD url, and the diff is returning None. I'm about to go on vacation until the first week of december, so, i'll be quiet on this end for awhile.

[2022-11-23 21:35] kbreit commented on #388
Have a good thanksgiving. I'll do some work on this and the PR and get something merged. The fix for the diff should cover both scenarios.